<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
          <govuk-error-link anchorId="input-height" [message]="errorMessage" />
        </govuk-error-summary>

        <h1 class="govuk-heading-l">Height of {{buildingOrSectionName}}</h1>

        <govuk-body>If possible, give an accurate measurement of the height of {{buildingOrSectionName}}.</govuk-body>
        <govuk-body>Measure from ground level to the top floor in metres.</govuk-body>
        <govuk-body>Do not measure the roof, unless there's a residential unit on it.</govuk-body>

        <govuk-details summaryText="Help with ground level" id="help-with-ground-level">
          <p>Ground level is the level of land immediately next to {{buildingOrSectionName}}. If that land is uneven, measure from the lowest level of the land.</p>
        </govuk-details>

        <h2 class="govuk-heading-m">If you do not know the exact height</h2>
        <govuk-body>You can estimate the height of {{buildingOrSectionName}} if it:</govuk-body>

        <govuk-list classes='govuk-list--bullet'>
          <govuk-list-item text="has at least 7 floors" />
          <govuk-list-item text="is clearly over 18 metres" />
        </govuk-list>

        <govuk-body>Keep a record of how you estimated the height.</govuk-body>
        <govuk-body>If {{buildingOrSectionName}} is around 18 metres, you should measure the height.</govuk-body>

        <govuk-input label="Height in metres" hint="For example, '18.75'."labelClass="govuk-label--s" id="height"
                     [(model)]="model" #field [govukRequired]="field"
                     [errorText]="getErrorDescription(heightHasErrors, errorMessage)" suffix="m"
                     class="govuk-input--width-4" 
                     (onKeyupEnter)="saveAndContinue()" />
      </div>

      <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Save and continue</govuk-button>
      <save-and-come-back (onClick)="saveAndComeBack()" />
    </div>
  </div>
</div>
