<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
                    <govuk-error-link anchorId="assembly_recreation-input" message={{errorMessage}} />
                </govuk-error-summary>

                <govuk-radio-group title="Primary use of the floors below ground level in {{getInfraestructureName()}}?"
                    [isPageHeading]=true id="primary-use" #field [govukRequired]="field" 
                    [(model)]="applicationService.currentKbiSection!.BuildingUse.PrimaryUseBuildingBelowGroundLevel" 
                    [errorText]="getErrorDescription(primaryUseBuildingBelowGroundLevelHasErrors, errorMessage!)"
                    hintText="If the floors below ground level have multiple uses, select the option that takes up the most floor space">
                    <govuk-radio [model]="applicationService.currentKbiSection!.BuildingUse.PrimaryUseBuildingBelowGroundLevel" name="application-group" hint="Any place of assembly, entertainment or recreation, like a bingo hall, theatre, dance school, gym or public library." label="Assembly and recreation" id="assembly_recreation" value="assembly_recreation" (onKeyupEnter)="saveAndContinue()" />
                    <govuk-radio [model]="applicationService.currentKbiSection!.BuildingUse.PrimaryUseBuildingBelowGroundLevel" name="application-group" hint="Any office, bank or building society, police or fire station." label="Office" id="office" value="office" (onKeyupEnter)="saveAndContinue()" />
                    <govuk-radio [model]="applicationService.currentKbiSection!.BuildingUse.PrimaryUseBuildingBelowGroundLevel" name="application-group" hint="Like flats or maisonettes." label="Residential dwellings" id="residential_dwellings" value="residential_dwellings" (onKeyupEnter)="saveAndContinue()" />
                    <govuk-radio [model]="applicationService.currentKbiSection!.BuildingUse.PrimaryUseBuildingBelowGroundLevel" name="application-group" hint="Like a care, residential or nursing home, prison, hospital or boarding school." label="Residential institution" id="residential_institution" value="residential_institution" (onKeyupEnter)="saveAndContinue()" />
                    <govuk-radio [model]="applicationService.currentKbiSection!.BuildingUse.PrimaryUseBuildingBelowGroundLevel" name="application-group" hint="Like a hotel, boarding house, halls of residence or hostel." label="Other residential use" id="other_residential_use" value="other_residential_use" (onKeyupEnter)="saveAndContinue()" />
                    <govuk-radio [model]="applicationService.currentKbiSection!.BuildingUse.PrimaryUseBuildingBelowGroundLevel" name="application-group" hint="Any retail business, like a shop, restaurant or hairdresser." label="Shop and commercial" id="shop_commercial" value="shop_commercial" (onKeyupEnter)="saveAndContinue()" />
                    <govuk-radio [model]="applicationService.currentKbiSection!.BuildingUse.PrimaryUseBuildingBelowGroundLevel" name="application-group" hint="Any other non-residential use, like a car park, storage or factory." label="Other non-residential" id="other_non-residential" value="other_non-residential" (onKeyupEnter)="saveAndContinue()" />
                </govuk-radio-group>
            </div>

            <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Save and continue</govuk-button>
            <save-and-come-back (onClick)="saveAndComeBack()" />
        </div>
    </div>
</div>