<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem">
          <govuk-error-link *ngIf="firstNameInError" anchorId="input-first-name" message="Enter your first name" />
          <govuk-error-link *ngIf="lastNameInError" anchorId="input-last-name" message="Enter your last name" />
        </govuk-error-summary>

        <span class="govuk-caption-xl">Your contact details</span>
        <govuk-fieldset title="Your name" [isPageHeading]=true id="application" titleClass='govuk-fieldset__legend--xl govuk-!-margin-bottom-8' class='govuk-!-margin-bottom-4'>

          <govuk-body>We will use this if we need to contact you about your application</govuk-body>

          <govuk-input id="first-name" label="First name" 
                       [(model)]="contactDetails.firstName"
                       (modelChange)="updateContactFirstName($event)"
                       [errorText]="getErrorDescription(firstNameInError, 'Enter your first name')"
                       class="govuk-!-margin-bottom-5" />

          <govuk-input id="last-name" label="Last name" 
                       [(model)]="contactDetails.lastName"
                       (modelChange)="updateContactLastName($event)"
                       [errorText]="getErrorDescription(lastNameInError, 'Enter your last name')" />
        </govuk-fieldset>
      </div>

      <govuk-button (onClick)="saveAndContinue()">Save and continue</govuk-button>
    </div>
  </div>
</div>
