<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
                    <govuk-error-link anchorId="{{firstCheckboxAnchorId}}" message={{errorMessage}} />
                </govuk-error-summary>

                <govuk-checkbox-none title="Secondary uses for {{getInfraestructureName()}}"
                    hint="Select all that apply" noneOptionText="No secondary use" [isPageHeading]="true"
                    [errorText]="getErrorDescription(secondaryUseBuildingHasErrors, errorMessage!)"
                    (onKeyupEnter)="saveAndContinue()"
                    [(model)]="applicationService.currentKbiSection!.BuildingUse.SecondaryUseBuilding!">
                    <checkbox-option text="Assembly and recreation" hint="Any place of assembly, entertainment or recreation, like a bingo hall, theatre, dance school, gym or public library." value="assembly_recreation" id="assembly_recreation" />
                    <checkbox-option text="Office" hint="Any office, bank or building society, police or fire station." value="office" id="office" />
                    <checkbox-option text="Residential dwellings" hint="Like flats or maisonettes." value="residential_dwellings" id="residential_dwellings" />
                    <checkbox-option text="Residential institution" hint="Like a care, residential or nursing home, prison, hospital or boarding school." value="residential_institution" id="residential_institution" />
                    <checkbox-option text="Other residential use" hint="Like a hotel, boarding house, halls of residence or hostel." value="other_residential_use" id="other_residential_use" />
                    <checkbox-option text="Shop and commercial" hint="Any retail business, like a shop, restaurant or hairdresser." value="shop_commercial" id="shop_commercial" />
                    <checkbox-option text="Other non-residential" hint="Any other non-residential use, like a car park, storage or factory." value="other_non_residential" id="other_non_residential" />
                </govuk-checkbox-none>
            </div>

            <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Save and continue</govuk-button>
            <save-and-come-back (onClick)="saveAndComeBack()" />
        </div>
    </div>
</div>