<div class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
  
        <h1 class="govuk-heading-xl">Tell the Building Safety Regulator about changes to {{applicationService.model.BuildingName}}</h1>

        <ol class="app-task-list">
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">1.</span>
              Registration information
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item firstItem">
                <span class="app-task-list__task-name">
                    <span task *ngIf="false">Building summary</span>
                    <a class="govuk-link" tabindex="0" role="link" [routerLink]="['../building-change-check-answers']">Building summary</a>
                </span>
                <govuk-tag tag class="{{getCssClassFor(taskListSteps.BuildingSummary)}}">{{getTagFor(taskListSteps.BuildingSummary)}}</govuk-tag>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <span task *ngIf="false">Accountable persons</span>
                  <a task class="govuk-link" tabindex="0" role="link" [routerLink]="['../same-pap']">Accountable persons</a>
                </span>
                <govuk-tag tag class="{{getCssClassFor(taskListSteps.AccountablePerson)}}">{{getTagFor(taskListSteps.AccountablePerson)}}</govuk-tag>
              </li>
            </ul>
          </li>
          <li *ngIf="isKbiSubmitted()">
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">2.</span>
              Structure and fire safety information
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item firstItem" *ngFor="let section of InScopeSections; let i = index">
                <span class="app-task-list__task-name">
                    {{section.Name ?? applicationService.model.BuildingName}} information
                </span>
                <govuk-tag tag class="{{getCssClassFor(taskListSteps.Kbi, i)}}">{{getTagFor(taskListSteps.Kbi, i)}}</govuk-tag>
              </li>
              <li class="app-task-list__item firstItem">
                <span class="app-task-list__task-name">
                    Connections
                </span>
                <govuk-tag tag class="{{getCssClassFor(taskListSteps.Connections)}}">{{getTagFor(taskListSteps.Connections)}}</govuk-tag>
              </li>
            </ul>
          </li>
          <li *ngIf="!applicationService.model.IsSecondary">
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">{{isKbiSubmitted() ? "3" : "2"}}.</span>
              Who can tell us about changes
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item firstItem">
                <span class="app-task-list__task-name">
                    <a class="govuk-link" tabindex="0" role="link" [routerLink]="['../user-list']">Manage who can access this application</a>
                    
                </span>    
                <govuk-tag tag class="{{getCssClassFor(taskListSteps.Changes)}}">{{getTagFor(taskListSteps.Changes)}}</govuk-tag>            
              </li>
            </ul>
          </li>
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">{{submitSectionNumber}}.</span>
              Submit
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item firstItem">
                <span class="app-task-list__task-name">
                    <a *ngIf="isLinkEnable(taskListSteps.Submit)" class="govuk-link" tabindex="0" role="link" [routerLink]="['../check-answers']">Submit changes</a>
                    <ng-container *ngIf="!isLinkEnable(taskListSteps.Submit)">Submit changes</ng-container>
                </span>    
                <govuk-tag tag class="{{getCssClassFor(taskListSteps.Submit)}}">{{getTagFor(taskListSteps.Submit)}}</govuk-tag>                
              </li>
            </ul>
          </li>
          
        </ol>
  
      </div>
    </div>
  </div>