<govuk-formpage  [hideSaveAndContinue]="true" [hideSaveAndComeBack]="true" [processing]="processing">
    <div class="govuk-panel" style="background-color: #f3f2f1">
        <h1 class="govuk-panel__title">You do not need to register {{applicationService.model.BuildingName}}</h1>
    </div>

    <govuk-body>You told us about:</govuk-body>
    <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item *ngFor="let section of applicationService.model.Sections" text="{{section.Name}}" />
    </govuk-list>
    <govuk-body>They have already been registered and you told us not to include them in this application.</govuk-body>
    <govuk-body><a class="govuk-link" href="https://forms.office.com/pages/responsepage.aspx?id=vlNZax1rgEmya1btiwvz3EJQHLmQwn9GmXeovhFPjj5UNDNVNEU5RjVCVDIxQ0xNOVpYRk8zSjkwQi4u" role="link" tabindex="0">What did you think of this service?</a> (takes 30 seconds)</govuk-body>
    <govuk-body><a class="govuk-link" (click)="newApplication()" role="link" tabindex="0" (keyup.enter)="newApplication()">Register another building</a></govuk-body>
</govuk-formpage>