<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
          <govuk-error-link *ngIf="certificateHasErrors" anchorId="input-block-name" message="Enter the certificate number" />
        </govuk-error-summary>

        <h1 class="govuk-heading-l">Completion certificate number for {{sectionBuildingName()}}{{ isOptional ? ' (optional)' : ''}}</h1>

        <govuk-input hint="This should be on the completion certificate for the building. Do not use the Unique Property Reference Number (UPRN) instead. If you do not have the completion certificate number, leave this blank."
                     id="certificate-reference" [(model)]="applicationService.currentSection.CompletionCertificateReference"
                     (onKeyupEnter)="saveAndContinue()" #field [govukRequired]="field" 
                     [errorText]="getErrorDescription(certificateHasErrors, 'Enter the certificate number')"  />
      </div>

      <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Save and continue</govuk-button>
      <save-and-come-back (onClick)="saveAndComeBack()" />
    </div>
  </div>
</div>
