<govuk-formpage (saveAndContinue)="saveAndContinue()" (saveAndComeBack)="saveAndComeBack()">

  <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
    <govuk-error-link *ngIf="firstNameInError" anchorId="input-first-name" message="Enter their first name" />
    <govuk-error-link *ngIf="lastNameInError" anchorId="input-last-name" message="Enter their last name" />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">Named contact at {{getOrganisationName()}}</h1>

  <govuk-body>This is who we will talk to about building safety issues for the parts of <b>{{applicationService.model.BuildingName}}</b> that <b>{{applicationService.currentAccountablePerson.OrganisationName}}</b> is accountable for.</govuk-body>

  <govuk-input id="first-name" label="First name"
                [(model)]="applicationService.currentAccountablePerson.NamedContactFirstName" #field [govukRequired]="field"
                [errorText]="getErrorDescription(firstNameInError, 'Enter their first name')"
                class="govuk-!-margin-bottom-5"
                (onKeyupEnter)="saveAndContinue()" />

  <govuk-input id="last-name" label="Last name"
                [(model)]="applicationService.currentAccountablePerson.NamedContactLastName" #field2 [govukRequired]="field2"
                [errorText]="getErrorDescription(lastNameInError, 'Enter their last name')"
                (onKeyupEnter)="saveAndContinue()" />

</govuk-formpage>
