<div class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <govuk-fieldset title="Register {{applicationService.model.BuildingName}}" [isPageHeading]="true" titleClass="govuk-fieldset__legend--xl  govuk-!-margin-bottom-8">

        <govuk-body class="govuk-fieldset__legend--s govuk-!-margin-bottom-2">Application incomplete</govuk-body>
        <govuk-body class="govuk-!-margin-bottom-4">You have completed 0 of 4 sections.</govuk-body>

        <govuk-body class="govuk-!-margin-bottom-4">We will save the information you give to us on each page.</govuk-body>

        <govuk-body class="govuk-!-margin-bottom-4">We have sent an email containing your application number to <b>{{applicationService.model.ContactEmailAddress}}</b>. Use this email to return to this application at any time.</govuk-body>

        <govuk-task-list>
          <govuk-task-list-item sectionNumber="1" text="Prepare your application">
            <govuk-summary-list>
              <govuk-summary-list-row>
                <a class="govuk-link" (click)="navigateToSections()">Blocks in the building</a>
                <govuk-tag class="govuk-tag--grey" *ngIf="this.applicationService.model.ApplicationStatus == applicationStatus.None">NOT STARTED YET</govuk-tag>
                <govuk-tag class="govuk-tag--blue" *ngIf="containsFlag(applicationStatus.BlocksInBuildingInProgress) && !containsFlag(applicationStatus.BlocksInBuildingComplete)">IN PROGRESS</govuk-tag>
                <govuk-tag *ngIf="containsFlag(applicationStatus.BlocksInBuildingComplete)">COMPLETE</govuk-tag>
              </govuk-summary-list-row>

              <govuk-summary-list-row>
                <span *ngIf="!containsFlag(applicationStatus.BlocksInBuildingComplete)">Principal accountable person</span>
                <a *ngIf="containsFlag(applicationStatus.BlocksInBuildingComplete)" class="govuk-link" (click)="navigateToPap()">Principal accountable person</a>
                <govuk-tag class="govuk-tag--grey" *ngIf="!containsFlag(applicationStatus.BlocksInBuildingComplete)">CANNOT START YET</govuk-tag>
                <govuk-tag class="govuk-tag--grey" *ngIf="containsFlag(applicationStatus.BlocksInBuildingComplete) && !containsFlag(applicationStatus.PrincipleAccountablePersonInProgress)">NOT STARTED YET</govuk-tag>
                <govuk-tag class="govuk-tag--blue" *ngIf="containsFlag(applicationStatus.PrincipleAccountablePersonInProgress) && !containsFlag(applicationStatus.PrincipleAccountablePersonComplete)">IN PROGRESS</govuk-tag>
                <govuk-tag *ngIf="containsFlag(applicationStatus.PrincipleAccountablePersonComplete)">COMPLETE</govuk-tag>
              </govuk-summary-list-row>

              <govuk-summary-list-row>
                <!-- <a *ngIf="item.link" class="govuk-link" href="{{item.link}}">{{item.title}}</a> -->
                <span *ngIf="!containsFlag(applicationStatus.PrincipleAccountablePersonComplete)">Other accountable persons</span>
                <a *ngIf="containsFlag(applicationStatus.PrincipleAccountablePersonComplete)" class="govuk-link" (click)="navigateToOtherAp()">Other accountable persons</a>
                <govuk-tag class="govuk-tag--grey" *ngIf="!containsFlag(applicationStatus.PrincipleAccountablePersonComplete)">CANNOT START YET</govuk-tag>
                <govuk-tag class="govuk-tag--grey" *ngIf="containsFlag(applicationStatus.PrincipleAccountablePersonComplete) && !containsFlag(applicationStatus.OtherAccountablePersonsInProgress)">NOT STARTED YET</govuk-tag>
                <govuk-tag class="govuk-tag--blue" *ngIf="containsFlag(applicationStatus.OtherAccountablePersonsInProgress)">IN PROGRESS</govuk-tag>
                <govuk-tag *ngIf="containsFlag(applicationStatus.OtherAccountablePersonsComplete)">COMPLETE</govuk-tag>
              </govuk-summary-list-row>
            </govuk-summary-list>
          </govuk-task-list-item>

          <govuk-task-list-item sectionNumber="2" text="Submit your application">
            <govuk-summary-list>
              <govuk-summary-list-row>
                <span *ngIf="!containsFlag(applicationStatus.OtherAccountablePersonsComplete)">Apply and pay the fee</span>
                <a *ngIf="containsFlag(applicationStatus.OtherAccountablePersonsComplete)" class="govuk-link" (click)="navigateToPayment()">Apply and pay the fee</a>
                <govuk-tag class="govuk-tag--grey" *ngIf="!containsFlag(applicationStatus.OtherAccountablePersonsComplete)">CANNOT START YET</govuk-tag>
                <govuk-tag class="govuk-tag--grey" *ngIf="containsFlag(applicationStatus.OtherAccountablePersonsComplete) && !containsFlag(applicationStatus.PaymentInProgress)">NOT STARTED YET</govuk-tag>
                <govuk-tag class="govuk-tag--blue" *ngIf="containsFlag(applicationStatus.PaymentInProgress)">IN PROGRESS</govuk-tag>
                <govuk-tag *ngIf="containsFlag(applicationStatus.PaymentComplete)">COMPLETE</govuk-tag>
              </govuk-summary-list-row>
            </govuk-summary-list>
          </govuk-task-list-item>
        </govuk-task-list>

        <govuk-body>After you have paid the fee and applied, you will be asked for more detailed information on your building.</govuk-body>

      </govuk-fieldset>
    </div>
  </div>
</div>