<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your building summary answers for {{applicationService.model.BuildingName}}</h1>

      <govuk-error-summary *ngIf="hasIncompleteData" title="There is a problem" #summaryError>
        <govuk-error-link anchorId="input-floors-above" message="Please check if all structures have data correctly entered" />
      </govuk-error-summary>

      <govuk-summary-list classes="govuk-summary-list--no-border answers-heading-border {{applicationService.model.NumberOfSections == 'one' ? 'no-margin-bottom' : ''}}">
        <govuk-summary-list-row (onClick)="navigateToMultipleSections()" (onKeyupEnter)="navigateToMultipleSections()" key="Is the building made up of multiple independent sections?" [showAction]=true>
          {{applicationService.model.NumberOfSections == 'one' ? 'Single independent section' : 'Multiple independent sections'}}
        </govuk-summary-list-row>
      </govuk-summary-list>

      <section-answers *ngIf="applicationService.model.NumberOfSections == 'one'" [section]="sections[0]" [sectionIndex]="0" />

      <div *ngIf="applicationService.model.NumberOfSections == 'two_or_more'">
        <div *ngFor="let section of sections; let i = index" class="section-wrapper">
          <div class="section-header">{{ getSectionName(i, undefined) }}</div>
          <div class="section-content">
            <section-answers [section]="section" [sectionIndex]="i" [hasMoreSections]="i < sections.length" />
          </div>
        </div>
      </div>


      <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Save and continue</govuk-button>
      <save-and-come-back (onClick)="saveAndComeBack()" />
    </div>
  </div>
</div>
