.check-answers-section {
    margin-bottom: 60px;
}

.answers-heading-border {
    border-bottom: 1px solid #b1b4b6 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
    border-bottom: none !important;
}