<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">The building</span>
      <govuk-fieldset title="Check your answers" [isPageHeading]=true id="application" titleClass='govuk-fieldset__legend--xl govuk-!-margin-bottom-8' class='govuk-!-margin-bottom-4'>

        <govuk-summary-list classes="govuk-summary-list--no-border answers-heading-border {{applicationService.model.NumberOfSections == 'one' ? 'no-margin-bottom' : ''}}">
          <govuk-summary-list-row key="Is the building made up of multiple independent sections?" [showAction]=true>
            {{applicationService.model.NumberOfSections == 'one' ? 'Single independent section' : 'Multiple independent sections'}}
          </govuk-summary-list-row>
        </govuk-summary-list>

        <section-answers *ngIf="applicationService.model.NumberOfSections == 'one'" [section]="sections[0]" [sectionIndex]="0" />

        <div *ngIf="applicationService.model.NumberOfSections == 'two_or_more'">
          <div *ngFor="let section of sections; let i = index">
            <section-answers [section]="section" [sectionIndex]="i" />
          </div>
        </div>

      </govuk-fieldset>
      <govuk-button (onClick)="saveAndContinue()">Save and continue</govuk-button>
      <govuk-body><a class="govuk-link" href="/start">Save and exit this application</a></govuk-body>
    </div>
  </div>
</div>