<govuk-breadcrumb-group>
    <govuk-breadcrumb text="Home" link="https://www.gov.uk/" [firstChild]=true></govuk-breadcrumb>
    <govuk-breadcrumb text="Building Safety Regulator" link="#"></govuk-breadcrumb>
    <govuk-breadcrumb text="Register a high-rise building" link="#"></govuk-breadcrumb>
  </govuk-breadcrumb-group>
  
  <div class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <govuk-fieldset id="high-rise-building" title="Register a high-rise building" [isPageHeading]=true titleClass='govuk-fieldset__legend--xl govuk-!-margin-bottom-8' />
  
        <govuk-body class="govuk-!-margin-bottom-4">Use this service to apply to register a high-rise residential building in England.</govuk-body>
        
        <govuk-body class="govuk-!-margin-bottom-4">If you are the principal accountable person for a building, or the principal accountable person has authorised you to act for them, you can use this service to:</govuk-body>
        <govuk-list classes='govuk-list--bullet'>
          <govuk-list-item text="apply to register the building" />
          <govuk-list-item text="continue an application you started previously" />
        </govuk-list>
  
        <govuk-details summaryText="Help with principal accountable person" id="details_accountable_person">
          <p>The principal accountable person is the person or organisation who owns or has responsibility for the building.</p>
          <p>If the building has more than one accountable person, then the accountable person for the external common parts of the building will be the principal accountable person.</p>
        </govuk-details>
  
        <govuk-fieldset title="Before you start" [isPageHeading]=false titleClass='govuk-fieldset__legend--m' />

        <govuk-body>A high-rise residential structure has:</govuk-body>
        <govuk-list classes='govuk-list--bullet'>
          <govuk-list-item text="at least 7 floors or is at least 18 metres in height" />
          <govuk-list-item text="at least 2 residential units" />
        </govuk-list>

        <govuk-body>A high-rise residential building can contain 1 or more high-rise residential structures.</govuk-body>

        <govuk-body>Apply to register 2 or more structures as a single building when they're connected by either:</govuk-body>
        <govuk-list classes='govuk-list--bullet'>
          <govuk-list-item text="a walkway, lobby or basement, that contains a residential unit" />
          <govuk-list-item text="a wall containing normal use doors" />
        </govuk-list>

        <govuk-body>If your building is made up of more than 1 high-rise residential structure, you must tell us this information for each structure.</govuk-body>

        <govuk-body>You must tell us the following information about the building:</govuk-body>
        <govuk-list classes='govuk-list--bullet'>
          <govuk-list-item text="the number of floors at or above ground level" />
          <govuk-list-item text="its height in metres" />
          <govuk-list-item text="the number of residential units" />
          <govuk-list-item text="the year it was originally built" />
          <govuk-list-item text="its address or addresses" />
        </govuk-list>

        <govuk-body>If your building has multiple independent sections, you must tell us this information for each independent section.</govuk-body>
        <govuk-body>You will also be asked about the principal accountable person and any other accountable persons.</govuk-body>
        <govuk-body>To complete your application, you must declare that all the information you have told us is correct.</govuk-body>
        <govuk-body>Then you must pay for the application.</govuk-body>
        <govuk-body>After you have paid, we will then ask you for more detailed structure and safety information about the building.</govuk-body>
        <govuk-body>Once you have started you'll have until 30 September 2023 to complete your application, and give us all the information we need to know about the building.</govuk-body>
        <govuk-body>You can save your application and return to it at any time.</govuk-body>
        <govuk-body>You can use this service as many times as you need. But you can only give us information about 1 building at a time.</govuk-body>
        <!-- <govuk-body class="govuk-!-margin-bottom-8">This service costs £251 per building. You can pay by credit or debit card.</govuk-body> -->
  
        <govuk-button classes="govuk-button--start govuk-!-margin-bottom-8" link="/select">
          Start now <arrow-right-icon />
        </govuk-button>

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">If you need help using this service</legend>
        <govuk-body><a class="govuk-link" href="https://www.hse.gov.uk/contact/tell-us-about-a-health-and-safety-issue.htm">Contact us</a> if you need help with your application to register a high-rise residential building.</govuk-body>
      </div>

      <div class="govuk-grid-column-one-third">
        <govuk-aside subsectionTitle="Related links">
          <govuk-list classes="govuk-!-font-size-16">
            <govuk-list-item text="Building Safety Act 2022" link="https://legislation.gov.uk" [newTab]=true />
            <govuk-list-item text="Check who is the principal accountable person" link="#" />
            <govuk-list-item text="Work out if your building has multiple independent sections" link="#" />
          </govuk-list>
        </govuk-aside>
      </div>
    </div>
  </div>
