<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <govuk-fieldset title="Declaration" [isPageHeading]=true
                      titleClass='govuk-fieldset__legend--l govuk-!-margin-bottom-5' class='govuk-!-margin-bottom-1'>


        <govuk-body>By submitting this application, you are confirming that the details you are providing are correct.</govuk-body>
        <govuk-body>You must not give false or misleading information to the Building Safety Regulator. Knowingly or recklessly giving false or misleading information is a criminal offence punishable by up to 2 years in prison.</govuk-body>


        <govuk-fieldset title="If you are authorised to act for the principal accountable person" [isPageHeading]=false
                        titleClass='govuk-fieldset__legend--m govuk-!-margin-bottom-4'
                        class='govuk-!-margin-bottom-1' />

        <govuk-body>By submitting this application, you are also confirming that:</govuk-body>

        <govuk-list classes='govuk-list--bullet'>
          <govuk-list-item text="the principal accountable person (PAP) has instructed you in writing to make this application on their behalf" />
          <govuk-list-item text="the PAP gave you the details or they are the result of your own investigations" />
          <govuk-list-item text="you have explained to the PAP that it is a criminal offence to give false or misleading information to the Building Safety Regulator" />
        </govuk-list>

        <govuk-body>We may ask you for written evidence that the principal accountable person has authorised you to act for them.</govuk-body>

      </govuk-fieldset>

      <govuk-button (onClick)="saveAndContinue()" [disabled]="loading" [isLoading]="loading">Declare and continue</govuk-button>
      <govuk-body><a href="#" class="govuk-link" (click)="saveAndComeBackLater()">Save and come back later</a></govuk-body>

    </div>
  </div>
</div>
