<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem">
          <govuk-error-link anchorId="radios-accountable-person"
                            message="Select if the principal accountable person is an organisation or an individual" />
        </govuk-error-summary>

        <govuk-fieldset title="Is the principal accountable person for {{applicationService.model.BuildingName}} an organisation or an individual?" [isPageHeading]=true id="application"
            titleClass='govuk-fieldset__legend--l govuk-!-margin-bottom-6' class='govuk-!-margin-bottom-3'>

          <govuk-body>The principal accountable person is the individual or organisation that owns or is legally obliged to repair the structure and exterior of the building.</govuk-body>
          <govuk-body>There may be other accountable persons that own or are legally obliged to repair other parts of the building. You can tell us about these later.</govuk-body>
          <govuk-body>If the principal accountable person is an organisation, individuals within that organisation are not accountable persons, but we will ask you for the name and contact details of someone in the organisation we can contact.</govuk-body>
          <govuk-body>If the principal accountable person is an individual, we will contact that individual.</govuk-body>
                
          <govuk-radio-group title="The principal accountable person is" fieldsetClass="govuk-fieldset__legend--s"
                             [(model)]="applicationService.model.PrincipalAccountableType" id="radios-accountable-person"
                             [errorText]="getErrorDescription(hasErrors, 'Select if the principal accountable person is an organisation or an individual')">
            <govuk-radio [model]="applicationService.model.PrincipalAccountableType" name="application-group" id="organisation" value="organisation" label="An organisation"/>
            <govuk-radio [model]="applicationService.model.PrincipalAccountableType" name="application-group" id="individual" value="individual" label="An individual" class="govuk-radio-no-margin-bottom"/>
          </govuk-radio-group>

        </govuk-fieldset>
      </div>
      <govuk-button (onClick)="saveAndContinue()">Save and continue</govuk-button>
      <govuk-body><a href="/" class="govuk-link" role="link">Save and come back later</a></govuk-body>
    </div>
  </div>
</div>

