<dl class="govuk-summary-list" style="border-top: 1px solid #b1b4b6;">
    <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value" *ngIf="user?.Firstname || user?.Lastname">
            {{ user!.Firstname }} {{ user!.Lastname }}
        </dd>
        <dd class="govuk-summary-list__value" *ngIf="user?.Email">
            {{ user!.Email }}
        </dd>
        <dd class="govuk-summary-list__actions" *ngIf="showActions">
            <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item" *ngIf="showRemoveAction">
                    <a class="govuk-link" role="link" (click)="removeClicked.emit()" (keyup.enter)="removeClicked.emit()" tabindex="1">
                        Remove
                    </a>
                </li>
                <li class="govuk-summary-list__actions-list-item" *ngIf="showChangeAction">
                    <a class="govuk-link" role="link" (click)="changeClicked.emit()" (keyup.enter)="changeClicked.emit()" tabindex="1">
                        Change
                    </a>
                </li>
            </ul>
        </dd>
    </div>
</dl>