<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
          <govuk-error-link anchorId="organisation-input" message="Select if the accountable person is an organisation or an individual" />
        </govuk-error-summary>

        <govuk-radio-group title="Is this accountable person for {{applicationService.model.BuildingName}} an organisation or an individual?" [isPageHeading]=true 
          [(model)]="applicationService.currentAccountablePerson.Type" id="radios-accountable-person" #field [govukRequired]="field"
          [errorText]="getErrorDescription(hasErrors, 'Select if the accountable person is an organisation or an individual')">
          <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentAccountablePerson.Type" name="application-group" id="organisation" value="organisation" hint="The organisation is the accountable person not, for example, the chief executive officer." label="An organisation" />
          <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentAccountablePerson.Type" name="application-group" id="individual" value="individual" label="The individual who personally owns the building" />
        </govuk-radio-group>

      </div>

      <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Save and continue</govuk-button>
      <save-and-come-back (onClick)="saveAndComeBack()" />
    </div>
  </div>
</div>