<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <govuk-error-summary *ngIf="hasErrors" title="There is a problem">
          <govuk-error-link anchorId="fieldset-number-of-sections" message="Select how many blocks are in this building" />
        </govuk-error-summary>

        <govuk-fieldset title="Is {{applicationService.model.BuildingName}} a single high-rise residential structure?"
                        [isPageHeading]=true id="number-of-sections" titleClass='govuk-fieldset__legend--l'
                        class='govuk-!-margin-bottom-4'>

          <govuk-body>A high-rise residential building can contain 1 or more high-rise residential structures.</govuk-body>

          <govuk-inset-text>For example, The Gherkin in London is a single high-rise residential structure</govuk-inset-text>

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Is it a single structure?</legend>
          <govuk-radio-group (modelChange)="updateReturnUrl()" [errorText]="getErrorDescription(numberOfSectionsHasErrors, 'Select how many blocks are in this building')"
                             [(model)]="applicationService.model.NumberOfSections">
            <govuk-radio [model]="applicationService.model.NumberOfSections" name="application-group" id="application-yes" value="one" label="Yes" />
            <govuk-radio [model]="applicationService.model.NumberOfSections" name="application-group" id="application-no" value="two_or_more" label="No" />
          </govuk-radio-group>
        </govuk-fieldset>
      </div>
      <govuk-button (onClick)="saveAndContinue()">Save and continue</govuk-button>
      <save-and-come-back/>
    </div>
  </div>
</div>
