<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
         <govuk-error-link *ngFor="let error of errors; let i = index" [anchorId]="error.errorAnchorId" [message]="error.errorMessage" />
        </govuk-error-summary>

        <h1 class="govuk-heading-l">Percentage of each type of insulation in the outside walls of {{getInfraestructureName()}}</h1>

        <govuk-body>Estimate the percentage. They must all add up to 100%</govuk-body>

        <govuk-input *ngFor="let insulation of this.applicationService.currenKbiSection!.ExternalWallInsulation!.CheckBoxSelection!; let i = index" [attr.data-index]="i"
                     id="{{insulation}}"
                     label="{{getInsulationName(insulation) | titlecase}}" #field [govukRequired]="field"
                     [(model)]="this.applicationService.currenKbiSection!.ExternalWallInsulationPercentages![insulation]"
                     [errorText]="getErrorDescription(errors.length>0, getErrorForOption(insulation)!)"
                     class="govuk-!-margin-bottom-5 govuk-input--width-5"
                     (onKeyupEnter)="saveAndContinue()"
                     suffix="%"/>
      </div>

      <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Save and continue</govuk-button>
      <save-and-come-back (onClick)="saveAndComeBack()" />
    </div>
  </div>
</div>
