<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
          <govuk-error-link anchorId="radios-accountable-person"
                            message="Enter the type of organisation" />
        </govuk-error-summary>

        <span class="govuk-caption-l">Principal accountable person</span>
        <govuk-fieldset title="Organisation type" [isPageHeading]=true id="application"
                        titleClass='govuk-fieldset__legend--l govuk-!-margin-bottom-1' class='govuk-!-margin-bottom-3'>

          <govuk-radio-group [(model)]="applicationService.currentAccountablePerson.OrganisationType" id="radios-accountable-person"
                             [errorText]="getErrorDescription(hasErrors, 'Enter the type of organisation')">
            <govuk-radio [model]="applicationService.currentAccountablePerson.OrganisationType" name="application-group" id="commonhold-association" value="commonhold-association" label="Commonhold association" (onKeyupEnter)="saveAndContinue()"/>
            <govuk-radio [model]="applicationService.currentAccountablePerson.OrganisationType" name="application-group" id="housing-association" value="housing-association" label="Housing association or other company operating under section 27 of the Housing Act 1985" (onKeyupEnter)="saveAndContinue()"/>
            <govuk-radio [model]="applicationService.currentAccountablePerson.OrganisationType" name="application-group" id="local-authority" value="local-authority" label="Local authority" (onKeyupEnter)="saveAndContinue()"/>
            <govuk-radio [model]="applicationService.currentAccountablePerson.OrganisationType" name="application-group" id="management-company" value="management-company" label="Management company" (onKeyupEnter)="saveAndContinue()"/>
            <govuk-radio [model]="applicationService.currentAccountablePerson.OrganisationType" name="application-group" id="rmc-or-organisation" value="rmc-or-organisation" label="Resident management company (RMC) or organisation" (onKeyupEnter)="saveAndContinue()"/>
            <govuk-radio [model]="applicationService.currentAccountablePerson.OrganisationType" name="application-group" id="rtm-or-organisation" value="rtm-or-organisation" label="Right to manage (RTM) company or organisation" (onKeyupEnter)="saveAndContinue()"/>
            <govuk-radio [model]="applicationService.currentAccountablePerson.OrganisationType" name="application-group" id="other" label="Other" value="other" (onKeyupEnter)="saveAndContinue()">
              <govuk-input id="other-conditional" label="Other organisation type" [(model)]="applicationService.currentAccountablePerson.OrganisationTypeDescription" class="govuk-!-margin-bottom-5" (onKeyupEnter)="saveAndContinue()" />
            </govuk-radio>
          </govuk-radio-group>

        </govuk-fieldset>
      </div>
      <govuk-button (onClick)="saveAndContinue()">Save and continue</govuk-button>
      <govuk-body><a href="/" class="govuk-link" role="link">Save and come back later</a></govuk-body>

    </div>
  </div>
</div>

