<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
          <govuk-error-link anchorId="commonhold-association-input"
                            message="Enter the type of organisation" />
        </govuk-error-summary>

        <h1 class="govuk-heading-l">{{title()}}</h1>

        <govuk-radio-group [(model)]="applicationService.currentAccountablePerson.OrganisationType" id="radios-accountable-person"
                           [errorText]="getErrorDescription(hasErrors, 'Enter the type of organisation')"
                           title="Type of organisation" fieldsetClass='govuk-fieldset__legend--s govuk-!-margin-bottom-3'>
          <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentAccountablePerson.OrganisationType" name="application-group" id="commonhold-association" value="commonhold-association" label="Commonhold association"
                       hint="A non-profit company formed by freeholders who manage and maintain the building they line in." />
          <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentAccountablePerson.OrganisationType" name="application-group" id="housing-association" value="housing-association" label="Housing association or other company operating under section 27 of the Housing Act 1985"
                       hint="Any housing association or any company managing social housing for the local housing authority, like an arms length management organisation (ALMO)." />
          <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentAccountablePerson.OrganisationType" name="application-group" id="local-authority" value="local-authority" label="Local authority"
                       hint="Any local authority that manages or maintains its own housing stock." />
          <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentAccountablePerson.OrganisationType" name="application-group" id="management-company" value="management-company" label="Management company"
                       hint="Any company that manages or maintains a building for a private owner or group of owners." />
          <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentAccountablePerson.OrganisationType" name="application-group" id="rmc-or-organisation" value="rmc-or-organisation" label="Resident management company (RMC) or organisation"
                       hint="A non-profit company formed by residents who manage or maintain the building they live in." />
          <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentAccountablePerson.OrganisationType" name="application-group" id="rtm-or-organisation" value="rtm-or-organisation" label="Right to manage (RTM) company or organisation"
                       hint="A non-profit company formed by long leaseholders who manage or maintain the building they line in." />
          <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentAccountablePerson.OrganisationType" name="application-group" id="other" label="Other" value="other"
                       hint="Any other type of organisation.">
            <govuk-input (onKeyupEnter)="saveAndContinue()" id="other-conditional" label="Other organisation type" [(model)]="applicationService.currentAccountablePerson.OrganisationTypeDescription" class="govuk-!-margin-bottom-5" />
          </govuk-radio>
        </govuk-radio-group>

      </div>
      <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Save and continue</govuk-button>
      <save-and-come-back (onClick)="saveAndComeBack()" />
    </div>
  </div>
</div>

