<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">

                <govuk-error-summary *ngIf="hasErrors" title="There is a problem">
                  <govuk-error-link  anchorId="input-height" [message]="errorSummaryMessage" />
                </govuk-error-summary>

                <span class="govuk-caption-xl">{{ captionText }}</span>
                <govuk-fieldset title="Number of residential units in the block" [isPageHeading]=true id="application" titleClass='govuk-fieldset__legend--xl govuk-!-margin-bottom-8' class='govuk-!-margin-bottom-4'>

                    <govuk-body>A residential unit is a flat, maisonette, student bedroom, room or flat in a house of multiple occupation or any other place where someone could live.</govuk-body>

                    <govuk-input label="Number of residential units"
                                 labelClass="govuk-label--s" id="height"
                                 [(model)]="building.residentialUnits"
                                 [errorText]="getErrorDescription(residentialUnitsHasErrors, errorMessage)"
                                 (modelChange)="updateNumberResidentialUnits($event)"
                                 class="govuk-input--width-4" #height />
                </govuk-fieldset>
            </div>

            <govuk-button (onClick)="saveAndContinue()">Save and continue</govuk-button>
        </div>
    </div>
</div>
