<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
          <govuk-error-link [anchorId]="firstCheckboxAnchorId" [message]=errorMessage />
        </govuk-error-summary>

        <h1 class="govuk-heading-l">What materials are visible on the outside of the walls of {{getInfraestructureName()}}?</h1>

        <govuk-body>You should be able to get this information from the latest external wall system appraisal.</govuk-body>
        <govuk-body>This is not a complete list. It includes only the materials we need to know about.</govuk-body>

        <govuk-checkbox-group [(model)]="applicationService.currenKbiSection!.Walls.ExternalWallMaterials!" hint="Select all that apply" [isPageHeading]=false 
            title="We have assumed there is glass on the outside walls." class="plainText"
            id="locations" #field [govukRequired]="field" [errorText]="getErrorDescription(externalWallMaterialsHasErrors, errorMessage!)">

            <govuk-checkbox (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currenKbiSection!.Walls.ExternalWallMaterials!" text="Aluminium composite materials (ACM)" value="acm" id="acm"/>
            <govuk-checkbox (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currenKbiSection!.Walls.ExternalWallMaterials!" text="High pressure laminate (HPL)" value="hpl" id="hpl"/>
            <govuk-checkbox (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currenKbiSection!.Walls.ExternalWallMaterials!" text="Metal composite panels" value="metal-composite-panels" id="metal-composite-panels"/>
            <govuk-checkbox (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currenKbiSection!.Walls.ExternalWallMaterials!" text="Other composite panels" value="other-composite-panels" id="other-composite-panels"/>
            <govuk-checkbox (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currenKbiSection!.Walls.ExternalWallMaterials!" text="Concrete" value="concrete" id="concrete"/>
            <govuk-checkbox (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currenKbiSection!.Walls.ExternalWallMaterials!" text="Green walls" value="green-walls" id="green-walls"/>
            <govuk-checkbox (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currenKbiSection!.Walls.ExternalWallMaterials!" text="Masonry" value="masonry" id="masonry"/>
            <govuk-checkbox (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currenKbiSection!.Walls.ExternalWallMaterials!" text="Metal panels" value="metal-panels" id="metal-panels"/>
            <govuk-checkbox (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currenKbiSection!.Walls.ExternalWallMaterials!" text="Render" value="render" id="render"/>
            <govuk-checkbox (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currenKbiSection!.Walls.ExternalWallMaterials!" text="Tiles" value="tiles" id="tiles"/>
            <govuk-checkbox (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currenKbiSection!.Walls.ExternalWallMaterials!" text="Timber" value="timber" id="timber"/>
            <govuk-checkbox (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currenKbiSection!.Walls.ExternalWallMaterials!" text="Other" value="other" id="other"/>

        </govuk-checkbox-group>
      </div>

      <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Save and continue</govuk-button>
      <save-and-come-back (onClick)="saveAndComeBack()" />
    </div>
  </div>
</div>