<govuk-summary-list>

    <govuk-summary-list-row key="Attached features" [showAction]=false>
      <ng-container *ngFor="let type of externalFeatures!.ExternalFeatures!">
        <div>{{getExternalFeature(type.key)}}</div>
      </ng-container>  
    </govuk-summary-list-row>  
    
    <ng-container *ngFor="let type of getAvailableFeatures()">
      <govuk-summary-list-row key="{{getExternalFeature(type.key)}}" [showAction]=false>
          <div *ngFor="let material of getMaterials(type.key)">{{getMaterialName(material)}}</div>
      </govuk-summary-list-row>
    </ng-container>

</govuk-summary-list>