<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">


        <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
          <govuk-error-link *ngIf="organisationNameHasErrors" anchorId="input-organisation-name" message="Enter the organisation name" />
        </govuk-error-summary>

        <govuk-fieldset [title]="title()" [isPageHeading]=true id="application"
                        titleClass='govuk-fieldset__legend--l govuk-!-margin-bottom-6' class='govuk-!-margin-bottom-6'>

          <govuk-input-autocomplete label="Organisation name" labelClass="govuk-label--s" id="organisation-name"
                                    hint="This is the name of the organisation that is an accountable person."
                                    [(model)]="applicationService.currentAccountablePerson.OrganisationName"
                                    [values]="companies" (onDebounce)="searchCompanies($event)" (onSelectedValue)="selectCompanyName($event)"
                                    [errorText]="getErrorDescription(organisationNameHasErrors, 'Enter the organisation name')"/>

        </govuk-fieldset>
      </div>

      <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Save and continue</govuk-button>
      <save-and-come-back (onClick)="saveAndComeBack()"/>
    </div>
  </div>
</div>



