<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
          <govuk-error-link *ngIf="firstNameInError" anchorId="input-first-name" message="Enter their first name" />
          <govuk-error-link *ngIf="lastNameInError" anchorId="input-last-name" message="Enter their last name" />
        </govuk-error-summary>

        <h1 class="govuk-heading-l">Named contact at {{applicationService.currentAccountablePerson.OrganisationName}}</h1>

        <govuk-body>Tell us the name of the person who we should contact about building safety issues. You can contact us later if the person or their details change.</govuk-body>

        <govuk-input id="first-name" label="First name"
                      [(model)]="applicationService.currentAccountablePerson.LeadFirstName"
                      [errorText]="getErrorDescription(firstNameInError, 'Enter their first name')"
                      class="govuk-!-margin-bottom-5"
                      (onKeyupEnter)="saveAndContinue()" />

        <govuk-input id="last-name" label="Last name"
                      [(model)]="applicationService.currentAccountablePerson.LeadLastName"
                      [errorText]="getErrorDescription(lastNameInError, 'Enter their last name')"
                      (onKeyupEnter)="saveAndContinue()" />
                      
      </div>

      <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Save and continue</govuk-button>
      <save-and-come-back (onClick)="saveAndComeBack()" />
    </div>
  </div>
</div>
