<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem">
          <govuk-error-link anchorId="principal" message="Select 'Yes' if you are the principal accountable person" />
        </govuk-error-summary>

        <span class="govuk-caption-l">Principal accountable person</span>
        <govuk-fieldset title="Are you the principal accountable person?" [isPageHeading]=true id="principal" titleClass='govuk-fieldset__legend--l' class='govuk-!-margin-bottom-4'
                        [errorText]="getErrorDescription(principalHasErrors, 'Select \'Yes\' if you are the principal accountable person')">
            <govuk-radio-group [(model)]="applicationService.currentAccountablePerson.IsPrincipal">
                <govuk-radio [model]="applicationService.currentAccountablePerson.IsPrincipal" name="application-group" id="isPrincipal-yes" value="yes" label="Yes"/>
                <govuk-radio [model]="applicationService.currentAccountablePerson.IsPrincipal" name="application-group" id="isPrincipal-no" value="no" label="No" class="govuk-radio-no-margin-bottom"/>
              </govuk-radio-group>
        </govuk-fieldset>
      </div>

      <govuk-button (onClick)="saveAndContinue()">Save and continue</govuk-button>
      <govuk-body><a href="/" class="govuk-link" role="link">Save and come back later</a></govuk-body>
    </div>
  </div>
</div>
