<govuk-cookie-banner [viewCookiesLink]="viewCookiesLink"
                     title="Register a high-rise residential building"
                     class="govuk-width-container"
                     [showCookieBanner]="showCookieBanner"
                     (onChangeCookies)="cookiesChanged()"
                     (onCookiesAccepted)="cookiesAccepted()"
                     (onCookiesRejected)="cookiesRejected()" />

<govuk-page [headerTitle]="headerTitle" [footerLinks]="footerLinks">
  <govuk-phase-banner tag="Private beta">
    This is a new service in development - do not take anything you see here as guidance.
  </govuk-phase-banner>
  <router-outlet />
</govuk-page>


<timeout-modal *ngIf="showTimeoutDialog" [delayToTimeout]="120" (onContinueClicked)="timeoutContinue()" (onSaveAndComebackClicked)="timeoutSaveAndComeBack()" (onTimeout)="timeout()" />
<div id="hiddenAlertContainer" role="alert" class="visually-hidden"></div>
