<govuk-page [headerTitle]="headerTitle">
  <govuk-phase-banner tag="Private beta">
    This is a new service in development - do not take anything you see here as guidance.
  </govuk-phase-banner>

  <router-outlet />

  <govuk-cookie-banner viewCookiesLink = "https://www.hse.gov.uk/privacy-cookies.htm"
                       changeCookiesLink = "https://www.hse.gov.uk/cookies.htm"
                       title="Register a high-rise residential building"
                       [showCookieBanner]="showCookieBanner"
                       (onCookiesAccepted)="cookiesAccepted()"
                       (onCookiesRejected)="cookiesRejected()"/>
</govuk-page>


<timeout-modal *ngIf="showTimeoutDialog" [delayToTimeout]="120" (onContinueClicked)="timeoutContinue()" (onSaveAndComebackClicked)="timeoutSaveAndComeBack()" (onTimeout)="timeout()" />
