<govuk-page [headerTitle]="headerTitle">
  <govuk-phase-banner tag="Private beta">
    This is a new service in development - do not take anything you see here as guidance.
  </govuk-phase-banner>

  <router-outlet />

  <govuk-cookie-banner *ngIf="showCookieBanner" nameService="Register a high-rise residential building"
                       (cookiesAccepted)="cookiesAccepted()"
                       (cookiesRejected)="cookiesRejected()"
                       viewCookiesLink="https://www.hse.gov.uk/privacy-cookies.htm" />

  <govuk-cookie-banner-confirmation *ngIf="showCookieBannerAccepted" (hideCookie)="hideCookieBannerConfirmation()">
    <govuk-body>
      You've accepted analytics cookies.
      You can <a class="govuk-link" href="https://www.hse.gov.uk/cookies.htm" (click)="changeCookies()">change your cookie settings</a> at any time.
    </govuk-body>
  </govuk-cookie-banner-confirmation>

  <govuk-cookie-banner-confirmation *ngIf="showCookieBannerRejected" (hideCookie)="hideCookieBannerConfirmation()">
    <govuk-body>
      You've rejected analytics cookies.
      You can <a class="govuk-link" href="https://www.hse.gov.uk/cookies.htm" (click)="changeCookies()">change your cookie settings</a> at any time.
    </govuk-body>
  </govuk-cookie-banner-confirmation>


</govuk-page>


<timeout-modal *ngIf="showTimeoutDialog" [delayToTimeout]="120" (onContinueClicked)="timeoutContinue()" (onSaveAndComebackClicked)="timeoutSaveAndComeBack()" (onTimeout)="timeout()" />
