<govuk-summary-list>
    <govuk-summary-list-row *ngIf="showName()" (onKeyupEnter)="navigateTo('name')" (onClick)="navigateTo('name')" key="Name" [showAction]=true (onClick)="navigateTo('name')">{{section.Name | QuestionNotAnswered}}</govuk-summary-list-row>
    <govuk-summary-list-row (onKeyupEnter)="navigateTo('floors')" (onClick)="navigateTo('floors')" key="Number of floors" [showAction]=true>{{section.FloorsAbove | QuestionNotAnswered}}</govuk-summary-list-row>
    <govuk-summary-list-row (onKeyupEnter)="navigateTo('height')" (onClick)="navigateTo('height')" key="Height" [showAction]=true>{{section.Height | QuestionNotAnswered}} {{section.Height != undefined ? "metres" : ""}}</govuk-summary-list-row>
    <govuk-summary-list-row *ngIf="showResidentialUnits()" (onKeyupEnter)="navigateTo('residential-units')" (onClick)="navigateTo('residential-units')" key="Number of residential units" [showAction]=true>{{section.ResidentialUnits | QuestionNotAnswered}} </govuk-summary-list-row>
    <govuk-summary-list-row *ngIf="showPeopleLivingBuilding()" (onKeyupEnter)="navigateTo('people-living')" (onClick)="navigateTo('people-living')" key="Are people living in it?" [showAction]=false>{{section.PeopleLivingInBuilding | peopleLivingInSectionDescription}}</govuk-summary-list-row>
    <govuk-summary-list-row *ngIf="isInScope" (onKeyupEnter)="navigateTo('year-of-completion')" (onClick)="navigateTo('year-of-completion')" key="When was it originally built?" [showAction]=true>{{section.YearOfCompletionOption == 'year-exact' ? section.YearOfCompletion : section.YearOfCompletionOption | yearOfCompletionOptionDescription}}</govuk-summary-list-row>
    <govuk-summary-list-row *ngIf="section.YearOfCompletionOption == 'year-not-exact' && isInScope" (onKeyupEnter)="navigateTo('year-range')" (onClick)="navigateTo('year-range')" key="Completion year range" [showAction]=true>{{section.YearOfCompletionRange | yearOfCompletionDescription}}</govuk-summary-list-row>

    <govuk-summary-list-row *ngIf="showCompletionCertificate() && isInScope" (onKeyupEnter)="navigateTo('certificate-issuer')" (onClick)="navigateTo('certificate-issuer')" key="Completion certificate issuer" [showAction]=true>{{section.CompletionCertificateIssuer | QuestionNotAnswered}} </govuk-summary-list-row>
    <govuk-summary-list-row *ngIf="showCompletionCertificate() && isInScope" (onKeyupEnter)="navigateTo('certificate-number')" (onClick)="navigateTo('certificate-number')" key="Completion certificate number" [showAction]=true>{{section.CompletionCertificateReference | QuestionNotAnswered}} </govuk-summary-list-row>
    <govuk-summary-list-row *ngIf="showCompletionCertificate() && isInScope" (onKeyupEnter)="navigateTo('upload-completion-certificate')" (onClick)="navigateTo('upload-completion-certificate')" key="Completion certificate file" [showAction]=true>{{section.CompletionCertificateFile?.Filename | QuestionNotAnswered}} </govuk-summary-list-row>

    <ng-container *ngIf="isInScope && (section.Addresses == undefined || section.Addresses.length == 0)">
        <govuk-summary-list-row (onClick)="navigateTo('address')" (onKeyupEnter)="navigateTo('address')" key="Address" [showAction]=true>
            Not answered
        </govuk-summary-list-row>
    </ng-container>

    <ng-container *ngIf="isInScope">
        <ng-container *ngFor="let address of section.Addresses; let i = index">
            <govuk-summary-list-row (onClick)="navigateToAddress('address', i)" (onKeyupEnter)="navigateToAddress('address', i)" key="Address" [showAction]=true>
                <address-description [address]="address" />
            </govuk-summary-list-row>
            <govuk-summary-list-row *ngIf="isNotNullOrWhitespace(address.PostcodeEntered) && address.PostcodeEntered?.replaceAll(' ', '') != address.Postcode?.replaceAll(' ', '')" (onClick)="navigateToAddress('address', i)" (onKeyupEnter)="navigateToAddress('address', i)" key="Other postcodes" [showAction]=true>
                {{address.PostcodeEntered}}
            </govuk-summary-list-row>            
            <govuk-summary-list-row *ngIf="section.Addresses.length < 5 || i < section.Addresses.length-1" (onKeyupEnter)="navigateToAddress('other-addresses', i)" (onClick)="navigateToAddress('other-addresses', i)" key="Add another address?" [showAction]=true>{{i < section.Addresses.length-1 ? 'Yes' : 'No' }}</govuk-summary-list-row>
        </ng-container>
    </ng-container>

    <govuk-summary-list-row *ngIf="!hasMoreSections" (onKeyupEnter)="addMoreSections()" (onClick)="addMoreSections()" key="Add another structure?" [showAction]=true>No</govuk-summary-list-row>
</govuk-summary-list>