<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">

                <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
                    <govuk-error-link anchorId="fieldset-peopleLivingInBuilding" [message]="getErrorMessage()" />
                </govuk-error-summary>

                <govuk-fieldset [errorText]="getErrorDescription(peopleLivingHasErrors, getErrorMessage())" 
                                title="Is anyone living in {{sectionBuildingName()}}?" 
                                [isPageHeading]=true id="application" 
                                titleClass='govuk-fieldset__legend--l' class='govuk-!-margin-bottom-6'>

                    <govuk-radio-group id="peopleLivingInBuilding" [(model)]="applicationService.currentSection.PeopleLivingInBuilding">
                        <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentSection.PeopleLivingInBuilding" name="people-living" id="yes" value="yes" label="Yes" />
                        <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentSection.PeopleLivingInBuilding" name="people-living" id="no_block_ready" value="no_section_ready" label="No, but it is ready for people to move in" hint="This could be if it has been refurbished or is new." />
                        <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentSection.PeopleLivingInBuilding" name="people-living" id="no_wont_move" value="no_wont_move" label="No and people will not be moving in" hint="This would be because everyone has moved out while it is being refurbished or because it is going to be demolished." />
                    </govuk-radio-group>
                </govuk-fieldset>
            </div>

            <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Save and continue</govuk-button>
            <save-and-come-back/>
        </div>
    </div>
</div>
