<govuk-checkbox-group [hint]="hint" id="fire-smoke-equipment" #field [govukRequired]="field"
    [title]="title" [(model)]="model" [errorText]="errorText">
    <govuk-checkbox #checkbox (onKeyupEnter)="onKeyupEnter.emit()" (onClicked)="optionClicked()" [model]="model" text="Alarm connected to heat or smoke detectors" value="alarm_heat_smoke" id="alarm_heat_smoke" />
    <govuk-checkbox #checkbox (onKeyupEnter)="onKeyupEnter.emit()" (onClicked)="optionClicked()" [model]="model" text="Alarm connected to call points" value="alarm_call_points" id="alarm_call_points" />
    <govuk-checkbox #checkbox (onKeyupEnter)="onKeyupEnter.emit()" (onClicked)="optionClicked()" [model]="model" text="Fire dampers" value="fire_dampers" id="fire_dampers" />
    <govuk-checkbox #checkbox (onKeyupEnter)="onKeyupEnter.emit()" (onClicked)="optionClicked()" [model]="model" text="Fire extinguishers" value="fire_extinguishers" id="fire_extinguishers" />
    <govuk-checkbox #checkbox (onKeyupEnter)="onKeyupEnter.emit()" (onClicked)="optionClicked()" [model]="model" text="Fire shutters" value="fire_shutters" id="fire_shutters" />
    <govuk-checkbox #checkbox (onKeyupEnter)="onKeyupEnter.emit()" (onClicked)="optionClicked()" [model]="model" text="Heat detectors" value="heat_detectors" id="heat_detectors" />
    <govuk-checkbox #checkbox (onKeyupEnter)="onKeyupEnter.emit()" (onClicked)="optionClicked()" [model]="model" text="Risers - dry" value="risers_dry" id="risers_dry" />
    <govuk-checkbox #checkbox (onKeyupEnter)="onKeyupEnter.emit()" (onClicked)="optionClicked()" [model]="model" text="Risers - wet" value="risers_wet" id="risers_wet" />
    <govuk-checkbox #checkbox (onKeyupEnter)="onKeyupEnter.emit()" (onClicked)="optionClicked()" [model]="model" text="Smoke control systems - automatic (AOVs)" value="smoke_aovs" id="smoke_aovs" />
    <govuk-checkbox #checkbox (onKeyupEnter)="onKeyupEnter.emit()" (onClicked)="optionClicked()" [model]="model" text="Smoke control systems - manual" value="smoke_manual" id="smoke_manual" />
    <govuk-checkbox #checkbox (onKeyupEnter)="onKeyupEnter.emit()" (onClicked)="optionClicked()" [model]="model" text="Smoke detectors" value="smoke_detectors" id="smoke_detectors" />
    <govuk-checkbox #checkbox (onKeyupEnter)="onKeyupEnter.emit()" (onClicked)="optionClicked()" [model]="model" text="Sprinklers or misters" value="sprinklers_misters" id="sprinklers_misters" />
    
    <div class="govuk-radios__divider">or</div>
    <govuk-checkbox #noneCheckbox (onKeyupEnter)="onKeyupEnter.emit()" (onClicked)="noneOptionClicked()" id="equipment_none" [model]="model" text="None of these" value="none" />
</govuk-checkbox-group>
