<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
                    <govuk-error-link anchorId="{{firstCheckboxAnchorId}}" message={{errorMessage}} />
                </govuk-error-summary>

                <h1 class="govuk-heading-l">Fire and smoke control equipment in the parts of that residents share</h1>
                <govuk-body>This is not a complete list. It includes only the equipment we need to know about.</govuk-body>

                <equipment-fire-smoke title="What equipment is in the parts shared by all residents?" hint="Select all that apply" [errorText]="getErrorDescription(fireSmokeProvisionsHasErrors, errorMessage!)"
                    (onKeyupEnter)="saveAndContinue()" [(model)]="applicationService.currenKbiSection!.fireSmokeProvisions!"></equipment-fire-smoke>
            </div>

            <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Save and continue</govuk-button>
            <save-and-come-back (onClick)="saveAndComeBack()" />
        </div>
    </div>
</div>