<govuk-breadcrumb-group>
  <govuk-breadcrumb text="Home" link="https://www.gov.uk/" [firstChild]=true></govuk-breadcrumb>
</govuk-breadcrumb-group>

<div class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Accessibility statement for Register a high-rise building</h1>
      <govuk-body>This service is part of the wider GOV.UK website. There’s a separate <a href="https://www.gov.uk/help/accessibility-statement" class="govuk-link" tabindex="0">accessibility statement for the main GOV.UK website</a>.</govuk-body>
      <govuk-body>This statement only applies to the Register a high-rise building service, available at register-high-rise-building.service.gov.uk.</govuk-body>

      <h1 class="govuk-heading-m">Using this service</h1>
      <govuk-body>This service is run by the Health and Safety Executive as Building Safety Regulator. We want as many people as possible to be able to use this service. For example, that means you should be able to:</govuk-body>

      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="change colours, contrast levels and fonts" />
        <govuk-list-item text="zoom in up to 300% without the text spilling off the screen" />
        <govuk-list-item text="get from the start of the service to the end using just a keyboard" />
        <govuk-list-item text="get from the start of the service to the end using speech recognition software" />
        <govuk-list-item text="listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)" />
      </govuk-list>

      <govuk-body>We’ve also made the text in the service as simple as possible to understand.</govuk-body>
      <govuk-body><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link" tabindex="0">AbilityNet</a> has advice on making your device easier to use if you have a disability.</govuk-body>

      <h1 class="govuk-heading-m">How accessible this service is</h1>
      <govuk-body>We know some parts of this website are not fully accessible:</govuk-body>

      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="there’s an instructional video inside the service that does not have captions (it’s an old video, and we will add captions when we re-shoot it)" />
      </govuk-list>

      <h1 class="govuk-heading-m">Feedback and contact information</h1>

      <govuk-body>If you have difficulty using this service, <a href="http://register-high-rise-building.service.gov.uk/contact" class="govuk-link" tabindex="0">contact us</a>.</govuk-body>
      <govuk-body>As part of providing this service, we may need to send you messages or documents. We’ll ask you how you want us to send messages or documents to you, but contact us if you need them in a different format. For example large print, audio recording or braille.</govuk-body>

      <h1 class="govuk-heading-m">Reporting accessibility problems with this service</h1>

      <govuk-body>We’re always looking to improve the accessibility of this service. If you find any problems that are not listed on this page or think we’re not meeting accessibility requirements, <a href="http://register-high-rise-building.service.gov.uk/contact" class="govuk-link" tabindex="0">contact us</a>.</govuk-body>

      <h1 class="govuk-heading-m">Enforcement procedure</h1>

      <govuk-body>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" class="govuk-link" tabindex="0">contact the Equality Advisory and Support Service (EASS)</a>.</govuk-body>

      <h1 class="govuk-heading-m">Technical information about this service’s accessibility</h1>

      <govuk-body>The Building Safety Regulator is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</govuk-body>

      <h1 class="govuk-heading-s">Compliance status</h1>

      <govuk-body>This service is fully compliant with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link" tabindex="0">Web Content Accessibility Guidelines version 2.1 AA standard</a>.</govuk-body>
      <govuk-body>This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link" tabindex="0">Web Content Accessibility Guidelines version 2.1 AA standard</a>, due to [insert one of the following: ‘the non-compliances’, ‘the exemptions’ or ‘the non-compliances and exemptions’] listed below.</govuk-body>
      <govuk-body>This website is not compliant with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link" tabindex="0">Web Content Accessibility Guidelines version 2.1 AA standard</a>. The [insert one of the following: ‘non-compliances’, ‘exemptions’ or ‘non-compliances and exemptions’] are listed below.</govuk-body>

      <h1 class="govuk-heading-m">Non accessible content</h1>
      <govuk-body>The content listed below is non-accessible for the following reasons.</govuk-body>

      <h1 class="govuk-heading-s">Non compliance with the accessibility regulations</h1>

      <h1 class="govuk-heading-m">What we’re doing to improve accessibility</h1>

      <h1 class="govuk-heading-m">Preparation of this accessibility statement</h1>

      <govuk-body>This statement was prepared on [date when it was first published]. It was last reviewed on [date when it was last reviewed].</govuk-body>
      <govuk-body>This website was last tested on [date]. The test was carried out by [add name of organisation that carried out the test, or indicate that you did your own testing].</govuk-body>
      <govuk-body>You can read the full accessibility test report [add link to report].</govuk-body>

    </div>

  </div>
</div>
