<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <b>[WIP]</b>
        <govuk-fieldset title="Type of organisation" [isPageHeading]=true id="application" titleClass='govuk-fieldset__legend--xl govuk-!-margin-bottom-8' class='govuk-!-margin-bottom-4'>

        </govuk-fieldset>
      </div>

      <govuk-button (onClick)="saveAndContinue()">Continue</govuk-button>
    </div>
  </div>
</div>
