<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Tell us about each high-rise residential structure in {{applicationService.model.BuildingName}}</h1>

      <govuk-body>A high-rise residential structure has:</govuk-body>

      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="at least 7 floors or is at least 18 metres in height" />
        <govuk-list-item text="at least 2 residential units" />
      </govuk-list>

      <govuk-body>We will ask you for information one structure at a time. You can tell us about the other structures later.</govuk-body>
      <govuk-body>For each structure, you must tell us:</govuk-body>

      <govuk-list classes="govuk-list--bullet">
        <govuk-list-item text="the name of the structure" />
        <govuk-list-item text="the number of floors at or above ground level" />
        <govuk-list-item text="the height from ground level to the top floor" />
        <govuk-list-item text="the number of residential units" />
        <govuk-list-item text="if people are living in it" />
        <govuk-list-item text="the year it was originally built and ready for people to live in it" />
        <govuk-list-item text="its address" />
        <govuk-list-item text="if it has any other addresses" />
      </govuk-list>

      <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Continue</govuk-button>
      <save-and-come-back (onClick)="saveAndComeBack()" />
    </div>
  </div>
</div>
