<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Your application for {{buildingName}} has already been submitted</h1>

      <govuk-body>We sent confirmation of this to you at <b>{{email}}</b>.</govuk-body>
      <govuk-body>
        You can either
        <a class="govuk-link" href="#" role="link">return to another application</a> or
        <a class="govuk-link" href="/building-registration/building/name" role="link">register another building</a>.
      </govuk-body>

    </div>
  </div>
</div>
