<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <govuk-fieldset title="Your application for {{buildingName}} has already been submitted"
                      [isPageHeading]=true id="application-completed"
                      titleClass="govuk-fieldset__legend--l govuk-!-margin-bottom-6">
        <govuk-body>We sent confirmation of this to you at <b>{{email}}</b>.</govuk-body>
        <govuk-body>You can either
          <a class="govuk-link" href="#">return to another application</a> or
          <a class="govuk-link" href="/building-registration/building/name">register another building</a>.
        </govuk-body>
      </govuk-fieldset>

    </div>
  </div>
</div>
