<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
          <govuk-error-link *ngIf="firstNameInError" anchorId="input-first-name" message="Enter your first name" />
          <govuk-error-link *ngIf="lastNameInError" anchorId="input-last-name" message="Enter your last name" />
        </govuk-error-summary>

        <h1 class="govuk-heading-l">Your name</h1>

        <govuk-body>We will use this if we need to contact you about your application</govuk-body>

        <fieldset class="govuk-fieldset">

          <govuk-input id="first-name" label="First name"
                       [(model)]="applicationService.model.ContactFirstName"
                       [errorText]="getErrorDescription(firstNameInError, 'Enter your first name')"
                       class="govuk-!-margin-bottom-5"
                       (onKeyupEnter)="saveAndContinue()" />

          <govuk-input id="last-name" label="Last name"
                       [(model)]="applicationService.model.ContactLastName"
                       [errorText]="getErrorDescription(lastNameInError, 'Enter your last name')"
                       (onKeyupEnter)="saveAndContinue()" />

        </fieldset>

      </div>

      <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Continue</govuk-button>
    </div>
  </div>
</div>
