<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
          <govuk-error-link *ngIf="certificateHasErrors" anchorId="input-block-name" message="Enter the completion certificate issuer" />
        </govuk-error-summary>

        <h1 class="govuk-heading-l">Completion certificate issuer for {{sectionBuildingName()}}{{ isOptional ? ' (optional)' : ''}}</h1>

        <govuk-details summaryText="Help with completion certificate">
          <p>A building control body or authority issues a completion certificate as proof that the building work has been inspected and complies with building regulations.</p>
        </govuk-details>

        <govuk-input label="Issuer name{{ isOptional ? ' (optional)' : ''}}" labelClass="govuk-label--s"
                     hint="Enter the full name of the building control body or authority that issued the completion certificate. If you do not have access to the completion certificate, leave this blank."
                     id="certificate-issuer" [(model)]="applicationService.currentSection.CompletionCertificateIssuer"
                     (onKeyupEnter)="saveAndContinue()"
                     [errorText]="getErrorDescription(certificateHasErrors, 'Enter the completion certificate issuer')"  />
      </div>

      <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Save and continue</govuk-button>
      <save-and-come-back (onClick)="saveAndComeBack()"/>
    </div>
  </div>
</div>
