<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem">
          <govuk-error-link *ngIf="nameHasErrors" anchorId="input-building-name" message="You must enter a name for the building" />
        </govuk-error-summary>

        <govuk-fieldset title="What is this building's name?" [isPageHeading]=true id="application" titleClass='govuk-fieldset__legend--l govuk-!-margin-bottom-5' class='govuk-!-margin-bottom-4'>

          <govuk-body>When your building is registered, this is the name that will appear on the public register of high-rise buildings in England.</govuk-body>


          <govuk-input id="building-name" label="Building name" labelClass="govuk-label--s"
                       [(model)]="building.name"
                       (modelChange)="updateBuildingName($event)"
                       [errorText]="getErrorDescription(nameHasErrors, 'Enter a name for the building')"
                       hint="For example 'The Gherkin'."
                       hintClass="no-margin-top" />

        </govuk-fieldset>
      </div>

      <govuk-button (onClick)="saveAndContinue()">Save and continue</govuk-button>
    </div>
  </div>
</div>
