<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <govuk-error-summary *ngIf="hasErrors" title="There is a problem">
                    <govuk-error-link anchorId="fieldset-number-of-sections" message="Select one of the options below" />
                </govuk-error-summary>

                <govuk-fieldset title="When was the section completed?" [isPageHeading]=true id="number-of-sections" titleClass='govuk-fieldset__legend--l' class='govuk-!-margin-bottom-4' hintText="If you're not sure, tell us your best estimate.">
                    <govuk-radio-group [errorText]="getErrorDescription(yearRangeHasErrors, 'Select one of the options below')" [(model)]="applicationService.currentSection.YearOfCompletionRange">
                        <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentSection.YearOfCompletionRange" name="application-group" id="before-1900" value="Before-1900" label="Before 1900"/>
                        <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentSection.YearOfCompletionRange" name="application-group" id="1901-to-1955" value="1901-to-1955" label="1901 to 1955"/>
                        <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentSection.YearOfCompletionRange" name="application-group" id="1956-to-1969" value="1956-to-1969" label="1956 to 1969"/>
                        <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentSection.YearOfCompletionRange" name="application-group" id="1970-to-1984" value="1970-to-1984" label="1970 to 1984"/>
                        <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentSection.YearOfCompletionRange" name="application-group" id="1985-to-2000" value="1985-to-2000" label="1985 to 2000"/>
                        <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentSection.YearOfCompletionRange" name="application-group" id="2001-to-2006" value="2001-to-2006" label="2001 to 2006"/>
                        <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentSection.YearOfCompletionRange" name="application-group" id="2007-to-2018" value="2007-to-2018" label="2007 to 2018"/>
                        <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentSection.YearOfCompletionRange" name="application-group" id="2019-to-2022" value="2019-to-2022" label="2019 to 2022"/>
                        <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentSection.YearOfCompletionRange" name="application-group" id="2023-onwards" value="2023-onwards" label="2023 onwards"/>
                        <div class="govuk-radios__divider">or</div>
                        <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currentSection.YearOfCompletionRange" name="application-group" id="not-completed" value="not-completed" label="It has not yet been completed"/>
                    </govuk-radio-group>
                </govuk-fieldset>
            </div>
            <govuk-button (onClick)="saveAndContinue()">Save and continue</govuk-button>
        </div>
    </div>
</div>
