<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
          <govuk-error-link *ngIf="jobRoleHasErrors" anchorId="job_role-director-input" [message]="jobRoleErrorText" />
          <govuk-error-link *ngIf="emailHasErrors" anchorId="input-email" [message]="emailErrorText" />
          <govuk-error-link *ngIf="phoneHasErrors" anchorId="input-phone-number" [message]="phoneErrorText" />
        </govuk-error-summary>

        <h1 class="govuk-heading-l">{{applicationService.currentAccountablePerson.LeadFirstName}} {{applicationService.currentAccountablePerson.LeadLastName}}'s details</h1>

        <govuk-radio-group title="Job role" 
          [(model)]="applicationService.currentAccountablePerson.LeadJobRole" #field [govukRequired]="field"
          id="job_role" class="govuk-!-margin-bottom-6" hintText="We want to understand the seniority of {{applicationService.currentAccountablePerson.LeadFirstName}} {{applicationService.currentAccountablePerson.LeadLastName}}. Select the closest match." [errorText]="getErrorDescription(jobRoleHasErrors, jobRoleErrorText)">
          <govuk-radio [model]="applicationService.currentAccountablePerson.LeadJobRole" name="application-group" id="job_role-director" value="director" label="Director" hint="This includes chief executive officer." (onKeyupEnter)="saveAndContinue()" />
          <govuk-radio [model]="applicationService.currentAccountablePerson.LeadJobRole" name="application-group" id="job_role-administrative_worker" value="administrative_worker" label="Administrative or office worker" (onKeyupEnter)="saveAndContinue()" />
          <govuk-radio [model]="applicationService.currentAccountablePerson.LeadJobRole" name="application-group" id="job_role-building_manager" value="building_manager" label="Building or facilities manager" (onKeyupEnter)="saveAndContinue()" />
          <govuk-radio [model]="applicationService.currentAccountablePerson.LeadJobRole" name="application-group" id="job_role-building_director" value="building_director" label="Building safety director" (onKeyupEnter)="saveAndContinue()" />
          <govuk-radio [model]="applicationService.currentAccountablePerson.LeadJobRole" name="application-group" id="job_role-other" value="other" label="Other" (onKeyupEnter)="saveAndContinue()" />
        </govuk-radio-group>

        <govuk-input id="email" label="Email address" type="email" [maxlength]=100 [(model)]="applicationService.currentAccountablePerson.LeadEmail" [errorText]="getErrorDescription(emailHasErrors, emailErrorText)" class="govuk-!-margin-bottom-5" (onKeyupEnter)="saveAndContinue()" />
        <govuk-input id="phone-number" label="Telephone number" type="tel" hint="Enter a UK phone number with or without spaces. For example, '012 3456 7890' or '+447654321098'" [(model)]="applicationService.currentAccountablePerson.LeadPhoneNumber" [errorText]="getErrorDescription(phoneHasErrors, phoneErrorText)" (onKeyupEnter)="saveAndContinue()" />

      </div>

      <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Save and continue</govuk-button>
      <save-and-come-back (onClick)="saveAndComeBack()" />
    </div>
  </div>
</div>
