<govuk-formpage [hideSaveAndComeBack]=true [hideSaveAndContinue]=true>

  <h1 class="govuk-heading-l">Awaiting payment for application to register {{applicationService.model.BuildingName}}</h1>
  <govuk-body>We have sent an invoice to <b>{{applicationService.model.PaymentInvoiceDetails?.Email}}</b>. If you cannot find the email, check your junk or spam folders.</govuk-body>
  <govuk-body>Your application will be submitted when we receive your payment.</govuk-body>
  
  <h2 class="govuk-heading-m">What happens next</h2>
  <govuk-body>You must pay the invoice before we can assess your application.</govuk-body>
  <govuk-body>You can <a class="govuk-link" [routerLink]="['../../summary']" href="" target="_blank" role="link" tabindex="0">view your application (opens in a new tab)</a>.</govuk-body>
  <govuk-body>You can continue to give us structure and afire safety information about {{applicationService.model.BuildingName}}</govuk-body>
  <govuk-button (onClick)="continueToKbi()">Continue to structure and safety information</govuk-button>
  <govuk-body><a class="govuk-link" href="https://forms.office.com/e/dRsZyPur6S" role="link" tabindex="0">What did you think of this service?</a> (takes 30 seconds)</govuk-body>

</govuk-formpage>