<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-fieldset title="Tell us about the blocks in this building" [isPageHeading]=true titleClass='govuk-fieldset__legend--xl govuk-!-margin-bottom-8' class='govuk-!-margin-bottom-4'>
                <govuk-body>We will ask you for information one block at a time. If this building has more than one block, you can tell us about the other blocks later.</govuk-body>
            </govuk-fieldset>

            <govuk-button link="/building-registration/building/floors-above">Continue</govuk-button>
        </div>
    </div>
</div>
