<div class="govuk-main-wrapper" id="main-content">
    <govuk-fieldset title="Register {{getBuildingName()}}" [isPageHeading]="true" titleClass="govuk-fieldset__legend--xl">

        <govuk-body class="govuk-fieldset__legend--s govuk-!-margin-bottom-2">Application incomplete</govuk-body>
        <govuk-body class="govuk-!-margin-bottom-7">You have completed 0 of 4 sections.</govuk-body>

        <govuk-body class="govuk-!-margin-bottom-7">We have sent a 12 digit return code to. Use this to return to this application at any time.
            <br><a class="govuk-link" href="#">Launch email</a></govuk-body>

        <govuk-task-list>
            <govuk-task-list-item *ngFor="let task of tasks; let i = index" sectionNumber="{{i+1}}" text="{{task.title}}">
                <govuk-summary-list>
                    <govuk-summary-list-row>
                        <a class="govuk-link" href="/building-registration/building/number-blocks-building">Blocks in the building</a>
                        <govuk-tag greyTag>NOT STARTED YET</govuk-tag>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row *ngFor="let item of task.items">
                        <span>{{item.title}}</span>
                        <govuk-tag greyTag>CANNOT START YET</govuk-tag>
                    </govuk-summary-list-row>
                </govuk-summary-list>
            </govuk-task-list-item>
        </govuk-task-list>

        <govuk-body>After you have paid the fee and applied, you will be asked for more detailed information on your building.</govuk-body>

    </govuk-fieldset>
</div>
