<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
          <govuk-error-link *ngIf="nameHasErrors" anchorId="input-building-name" message="Enter this building's name" />
        </govuk-error-summary>

        <h1 class="govuk-heading-l">What is this building's name?</h1>

        <govuk-body>When your building is registered, this is the name that will appear on the public register of high-rise buildings in England.</govuk-body>

        <govuk-input id="building-name" label="Building name" labelClass="govuk-label--s"
                     [(model)]="applicationService.model.BuildingName"
                     [errorText]="getErrorDescription(nameHasErrors, 'Enter this building\'s name')"
                     hint="For example, 'Landmark Pinnacle'."
                     hintClass="no-margin-top"
                     (onKeyupEnter)="saveAndContinue()" />


      </div>

      <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Continue</govuk-button>
    </div>
  </div>
</div>
