<div class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Check you have the information you need for</h1>
            <govuk-body class="govuk-!-margin-bottom-4">Principal accountable persons need to show that they understand the buildings they're accountable for. The information you give will help to prioritise which buildings we'll assess first.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">You should be able to get the information we need from the most recent external wall system (EWS) appraisal or fire risk assessment. So you should not need to do a full separate survey.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">At this stage, we do not need to know about planned changes or improvements - we will ask about these when we assess the building. We need you to tell us about the building as it is now - or at the most recent survey.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">The information you give will help you when you start to assess the building's risks as part of your safety case report.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">You should take all reasonable steps to find this information.</govuk-body>

            <h2 class="govuk-heading-m">Fire and smoke controls</h2>
            <govuk-body class="govuk-!-margin-bottom-4">We'll ask you about the evacuation strategy for the residential areas. This could be phased, progressive horizontal, simultaneous, stay put or temporary simultaneous. We do not need to know how you evacuate any non-residential parts.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">We need to know about fire and smoke control equipment in the residential units. This includes heat or smoke detectors and sprinklers.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">We need to know about fire and control equipment in the parts of the building shared by all residents. This includes alarms, fire dampers or extinguishers, dry or wet risers, smoke control systems, smoke detectors, and sprinklers. We also need to know where these are.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">We also need to know if the building has any types of evacuation or firefighter lifts.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">Evacuation lifts have structural, electrical and fire protection. They're used to evacuate people with a disability or extra needs.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">Firefighters lifts have protection, controls and signals for firefighters to control it. The 2003 British Standard classifies these lifts.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">Fire-fighting lifts are like firefighters lifts but less stringent. The 1986 British Standard classifies these lifts.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">Modernised lifts for fire service use are normally used for passengers. But they have basic extra protection, controls and signals for firefighters to use.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">Firemen's lifts were installed before fire-fighting lift standards were available. They have no complex lift controls or protection measures for firefighters to use.</govuk-body>

            <h2 class="govuk-heading-m">Fire doors</h2>
            <govuk-body class="govuk-!-margin-bottom-4">We need to know the certified fire resistance of your fire doors. We'll ask you tell us about:</govuk-body>
            <govuk-list classes='govuk-list--bullet'>
                <govuk-list-item text="residential unit front doors" />
                <govuk-list-item text="fire doors in the other parts of the building shared by all residents" />
            </govuk-list>
            <govuk-body class="govuk-!-margin-bottom-4">You need to tell us how many of each door has certified fire resistance for 30, 60 or 120 minutes. You'll also need to tell us about fire doors where you do not know the fire resistance, like notional fire doors.</govuk-body>

            <h2 class="govuk-heading-m">Energy supplies, storage and generation</h2>
            <govuk-body class="govuk-!-margin-bottom-4">We need to know about:</govuk-body>
            <govuk-list classes='govuk-list--bullet'>
                <govuk-list-item text="types of energy storage, like lithium ion or hydrogen batteries" />
                <govuk-list-item text="energy generated on site" />
                <govuk-list-item text="types of energy supply" />
            </govuk-list>
            <govuk-body class="govuk-!-margin-bottom-4">On site generation includes air source heat pumps, biomass boilers, or solar panels.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">Energy supply includes district heating, mains electricity or gas supply, or oil.</govuk-body>

            <h2 class="govuk-heading-m">Type of structure</h2>
            <govuk-body class="govuk-!-margin-bottom-4">We need to know about the structure of the building. It could be any of these types:</govuk-body>
            <govuk-list classes='govuk-list--bullet'>
                <govuk-list-item text="composite steel and concrete" />
                <govuk-list-item text="concrete large panel system - 1960s" />
                <govuk-list-item text="concrete large panel system - 1970 onwards" />
                <govuk-list-item text="modular - concrete" />
                <govuk-list-item text="other concrete" />
                <govuk-list-item text="lightweight metal structure, like aluminium" />
                <govuk-list-item text="masonry" />
                <govuk-list-item text="modular - steel" />
                <govuk-list-item text="steel frame" />
                <govuk-list-item text="modular - other metal" />
                <govuk-list-item text="modular - timber" />
                <govuk-list-item text="timber" />
                <govuk-list-item text="none of these" />
            </govuk-list>

            <h2 class="govuk-heading-m">Roof</h2>
            <govuk-body class="govuk-!-margin-bottom-4">We need to know:</govuk-body>
            <govuk-list classes='govuk-list--bullet'>
                <govuk-list-item text="what type of roof is on the building - flat, pitched, or a mix of both" />
                <govuk-list-item text="if the roof has a layer of insulation on top of or below the roof structure, or not" />
                <govuk-list-item text="what material covers the largest surface area of the roof" />
            </govuk-list>

            <h2 class="govuk-heading-m">Staircases</h2>
            <govuk-body class="govuk-!-margin-bottom-4">We need you to count:</govuk-body>
            <govuk-list classes='govuk-list--bullet'>
                <govuk-list-item text="all staircases on the inside and outside, including those that serve the basement" />
                <govuk-list-item text="the staircases inside the building that serve all floors from ground level to the top floor" />
            </govuk-list>

            <h2 class="govuk-heading-m">Exernal walls</h2>
            <govuk-body class="govuk-!-margin-bottom-4">We need to know what materials are visible on the outside of the walls. We also need you to estimate what percentage of each is visible. For example, concrete might cover 70% while glass might cover the remaining 30%.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">To estimate the percentages, start by calculating the surface area of the structure. Then calculate the surface area of the windows and any glass on balcony doors. This helps you to calculate the percentage covered by glass. Then you can estimate the remaining percentages of the other materials.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">If there's aluminium composite material (ACM) or high pressure laminate (HPL), we need to know if it:</govuk-body>
            <govuk-list classes='govuk-list--bullet'>
                <govuk-list-item text="meets the fire classification A2-s1, d0 or better" />
                <govuk-list-item text="has passed a large-scale fire test to BS8414" />
            </govuk-list>
            <govuk-body class="govuk-!-margin-bottom-4">A2-s1, d0 is set out in British Standard BS EN 13501-1. This classifies building materials based on their reaction to fire. BS8414 is the British Standard for tests that assess the fire safety of cladding applied to the outside of buildings.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">We need to know:</govuk-body>
            <govuk-list classes='govuk-list--bullet'>
                <govuk-list-item text="what type of insulation is in the outside walls" />
                <govuk-list-item text="the percentage of each type of insulation" />
                <govuk-list-item text="features on the outside walls and roof" />
                <govuk-list-item text="which 2 materials are most used in each feature" />
            </govuk-list>
            <govuk-body class="govuk-!-margin-bottom-4">Features on the roof include communal recreation areas, phone masts or roof lights. On the outside walls, there might be advertising hoardings, balconies or staircases. There might be communal walkways between structures or escape routes onto the roof.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">We also need to know if the building has machinery in an outbuilding, on the roof or in a room on the roof. Machinery could be for heating, ventilation or energy generation.</govuk-body>

            <h2 class="govuk-heading-m">Building use</h2>
            <govuk-body class="govuk-!-margin-bottom-4">For building use, we use the same list of options throughout the application:</govuk-body>
            <govuk-list classes='govuk-list--bullet'>
                <govuk-list-item text="assembly and recreation" />
                <govuk-list-item text="any type of office, bank or building society, police or fire station" />
                <govuk-list-item text="residential dwellings, like flats or maisonettes" />
                <govuk-list-item text="residential institution" />
                <govuk-list-item text="any other residential use, like a hotel, boarding house, halls of residence or hostel" />
                <govuk-list-item text="shop and commercial - any retail business, like a shop, restaurant or hairdresser" />
                <govuk-list-item text="any other non-residential use, like a car park, storage, machinery room or factory" />
            </govuk-list>
            <govuk-body class="govuk-!-margin-bottom-4">Assembly and recreation means any place of assembly, entertainment or recreation. For example, this might be a bingo hall, theatre, dance school, gym or public library.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">Residential institutions include prisons, hospitals or boarding schools. They could also be care, residential or nursing homes.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">We need to know the primary use of the building. The primary use is the area that takes up the most floor space above ground level. If there's a secondary use, we need to know about that too.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">If there are any floors below ground level, we need to know how many there are and what they're used for.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">If the building had a different primary use in the past, we need to know what it was used for. For example, an office or factory could have been converted into residential units. And if you know it, we'd like to know when the use changed.</govuk-body>

            <h2 class="govuk-heading-m">Building works since original build</h2>
            <govuk-body class="govuk-!-margin-bottom-4">We need to know about any building works that needed a building control application. Even if there has only been a partial change, these include:</govuk-body>
            <govuk-list classes='govuk-list--bullet'>
                <govuk-list-item text="asbestos removal and remediation on multiple floors" />
                <govuk-list-item text="adding balconies" />
                <govuk-list-item text="changes in number of residential units, number or location of staircases" />
                <govuk-list-item text="changes to windows" />
                <govuk-list-item text="complete rewiring of buildings or floors" />
                <govuk-list-item text="adding or removing floors" />
                <govuk-list-item text="reinforcement works to large panel system structure" />
                <govuk-list-item text="work connected to external walls, like replacing cavity barriers, insulation or cladding" />
            </govuk-list>
            <govuk-body class="govuk-!-margin-bottom-4">It also includes the installation, replacement or removal of:</govuk-body>
            <govuk-list classes='govuk-list--bullet'>
                <govuk-list-item text="active or passive fire systems" />
                <govuk-list-item text="emergency or other lighting" />
                <govuk-list-item text="cold water systems in multiple residential units" />
                <govuk-list-item text="of heating or hot water system in multiple residential units" />
                <govuk-list-item text="of gas supply to building" />
            </govuk-list>
            <govuk-body class="govuk-!-margin-bottom-4">We need to know the type of structure of any floors added to the building.</govuk-body>
            <govuk-body class="govuk-!-margin-bottom-4">We also need to know which was the most recent work and what year it was completed.</govuk-body>

            <h2 class="govuk-heading-m">Connections</h2>
            <govuk-body class="govuk-!-margin-bottom-4">We need to know about connections:</govuk-body>
            <govuk-list classes='govuk-list--bullet'>
                <govuk-list-item text="between structures within the building - if there's more than one structure in the building" />
                <govuk-list-item text="to other high-rise residential buildings" />
                <govuk-list-item text="to other buildings" />
            </govuk-list>

            <govuk-button classes="govuk-!-margin-bottom-8" (onClick)="continue()" (keyup.enter)="continue()">
                Continue
            </govuk-button>
        </div>

    </div>
</div>