<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem">
          <govuk-error-link anchorId="radios-accountable-person"
                            message="Select if the accountable person is an organisation or an individual" />
        </govuk-error-summary>

        <span class="govuk-caption-l">Other accountable persons</span>
        <govuk-fieldset title="Is this accountable person an organisation or an individual?" [isPageHeading]=true id="application"
                        titleClass='govuk-fieldset__legend--l govuk-!-margin-bottom-6' class='govuk-!-margin-bottom-3'>

          <govuk-body>Tell us about one of the accountable persons. You'll be able to add more accountable persons later.</govuk-body>

          <govuk-radio-group title="This accountable person is" fieldsetClass="govuk-fieldset__legend--m"
                             [(model)]="applicationService.model.OtherAccountablePerson" id="radios-accountable-person"
                             [errorText]="getErrorDescription(hasErrors, 'Select if the accountable person is an organisation or an individual')">
            <govuk-radio name="application-group" id="organisation" value="/application/other-accountable-person" label="An organisation">
            </govuk-radio>
            <govuk-radio name="application-group" id="individual" value="/application/other-accountable-person" label="An individual"
                         class="govuk-radio-no-margin-bottom">
            </govuk-radio>
          </govuk-radio-group>

        </govuk-fieldset>
      </div>
      <govuk-button (onClick)="saveAndContinue()">Save and continue</govuk-button>
      <govuk-body><a href="/" class="govuk-link">Save and come back later</a></govuk-body>

    </div>
  </div>
</div>

