<i class="fa fa-spinner fa-spin loading" *ngIf="!shouldRender"></i>

<ng-container *ngIf="shouldRender">

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Registration application submitted for {{applicationService.model.BuildingName ?? '[Building name]'}}</h1>

        <govuk-body>Your application reference is <b>{{applicationService.model.id ?? "[Application number]"}}</b>.</govuk-body>

        <govuk-body>We've emailed confirmation of your payment to {{payment?.Email}}. If you cannot find the email, check your junk or spam folders. If you did not get the email, <a href="https://www.hse.gov.uk/contact/tell-us-about-a-health-and-safety-issue.htm" target="_blank" class="govuk-link">contact us</a>.</govuk-body>

        <govuk-body *ngIf="notPap()">We have also sent an email to the principal accountable person that outlines their duties at this stage.</govuk-body>

        <h1 class="govuk-heading-m">View your application</h1>
        <govuk-body>You can <a class="govuk-link" [routerLink]="['../../summary']"
                                href="" target="_blank" role="link" tabindex="0">view your application (opens in a new tab)</a>.</govuk-body>

        <h1 class="govuk-heading-m">What happens next</h1>

        <govuk-body>We'll look at your application to register this building.</govuk-body>
        <govuk-body>We'll contact you when we have decided if your building should be registered. We'll also contact you if we need more information.</govuk-body>
        <govuk-body>We're registering all the high-rise buildings in England. This is likely to take several months. So you might not hear from us for a while. Do not worry. We have your application.</govuk-body>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            You must give us structure and safety information for
            {{applicationService.model.BuildingName ?? '[building-name]'}} by 30 September 2023.
          </strong>
        </div>

        <govuk-body>You need to prepare some information about the structure and safety of the building. We will contact you again when we need you to give us that information.</govuk-body>
        <!-- <govuk-button (onClick)="saveAndContinue()">Continue to structure and safety information</govuk-button> -->

        <govuk-body>
          You can <a href="#" class="govuk-link" (click)="registerAnotherBuilding()">register another building</a>.
        </govuk-body>

      </div>
    </div>
  </div>
</ng-container>
