<govuk-formpage saveAndContinueText="Declare and continue" (saveAndContinue)="saveAndContinue()" [hideSaveAndComeBack]="true" [processing]="processing">

    <h1 class="govuk-heading-l">Keep {{applicationService.currentSection.Name}} in your application to register {{applicationService.model.BuildingName}}</h1>
  
    <govuk-body>By keeping {{applicationService.currentSection.Name}} in your application, you agree that we can share your name, email address and phone number with {{papName}}.</govuk-body>
    <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="fill in the rest of the application" />
        <govuk-list-item text="pay the fee - you might not get a refund if your application gets rejected" />
    </govuk-list>  
    <govuk-body>We will not make a decision on you application until we hear from {{papName}}.</govuk-body>

</govuk-formpage>