<govuk-formpage [hideBackButton]=true [hideSaveAndComeBack]=true saveAndContinueText="Continue" (saveAndContinue)="checkPassword()" [processing]="processing">

  <govuk-error-summary *ngIf="invalidPasswordError" title="There is a problem" #summaryError>
    <govuk-error-link anchorId="input-password" [message]="invalidPasswordError" />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">This is a protected resource</h1>

  <govuk-body>Please enter the password to access this resource.</govuk-body>
  <govuk-input [(model)]="model" label="Password" id="password" [errorText]="invalidPasswordError"/>

</govuk-formpage>