@import "node_modules/govuk-frontend/govuk/all";

.govuk-header__logotype-text {
    margin-left: 10px;
}

.hljs {
    background-color: transparent;
}

.govuk-checkboxes__item {
    margin-bottom: 10px !important;
}

// GOVUK-RADIO
.govuk-radio-no-margin-bottom > .govuk-radios__item {
  margin-bottom: 0px !important;
}

.govuk-error-summary__list a {
    color: #d4351c;
    cursor: pointer;
}

a.govuk-link, a.govuk-back-link {
  text-decoration-thickness: max(1px, .0625rem);
  text-underline-offset: 0.1em;
}

.cursor:hover {
  cursor: pointer;
}

.govuk-link,
.govuk-link:hover {
  color: #1d70b8;
  cursor: pointer;
}