@import "node_modules/govuk-frontend/govuk/all";

.govuk-header__logotype-text {
  margin-left: 10px;
}

.hljs {
  background-color: transparent;
}

.govuk-checkboxes__item {
  margin-bottom: 10px !important;
}

// GOVUK-RADIO
.govuk-radio-no-margin-bottom > .govuk-radios__item {
  margin-bottom: 0px !important;
}

.govuk-error-summary__list a {
  color: #d4351c;
  cursor: pointer;
}

a.govuk-link,
a.govuk-back-link {
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: 0.1em;
}

.cursor:hover {
  cursor: pointer;
}

.govuk-link,
.govuk-link:hover {
  color: #1d70b8;
  cursor: pointer;
}

.inline-radios {
  display: flex;
  gap: 20px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.contact {
  border-left: 1px solid #b1b4b6;
  padding-left: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.loading {
  padding: 30px 0;
  font-size: 20px;
  color: #1d70b8;
}

.govuk-summary-list[_ngcontent-serverApp-c73]:not(.govuk-summary-list--no-border):first-child {
  border-top: none !important;
}

.govuk-fieldset__legend--l {
  margin-bottom: 0;
  padding: 0;
}