<i class="fa fa-spinner fa-spin loading" *ngIf="!shouldRender"></i>
<govuk-formpage [hideSaveAndComeBack]=true [hideSaveAndContinue]=true *ngIf="shouldRender">

  <div class="structure-details govuk-!-margin-bottom-4">
    <div class="govuk-hint fs-24">{{applicationService.model.id}}</div>
    <h1 class="govuk-heading-m fs-36">{{applicationService.model.BuildingName}}</h1>
  </div>

  <h2 class="govuk-heading-m">Registration</h2>

  <!-- submitted -->
  <ng-container *ngIf="!applicationStatus.registrationAccepted">
    <!-- not paid -->
    <ng-container *ngIf="!applicationStatus.paid">
      <!-- no changes made -->
      <ng-container *ngIf="!applicationStatus.changesSubmitted && !applicationStatus.changesAccepted && !(applicationStatus.withdrawalSubmitted || applicationStatus.removalSubmitted)">
        <ng-container *ngTemplateOutlet="InvoiceSent" />
        <ng-container *ngTemplateOutlet="AppWillBeSubmitted" />
        <ng-container *ngTemplateOutlet="MustPay" />
        <ng-container *ngTemplateOutlet="TakeTooLongToPay" />
      </ng-container>

      <!-- changes submitted but not accepted yet -->
      <ng-container *ngIf="applicationStatus.changesSubmitted && !applicationStatus.changesAccepted  && !(applicationStatus.withdrawalSubmitted || applicationStatus.removalSubmitted)">
        <ng-container *ngTemplateOutlet="InvoiceSent" />
        <ng-container *ngTemplateOutlet="AppWillBeSubmitted" />
        <ng-container *ngTemplateOutlet="MustPay" />
        <ng-container *ngTemplateOutlet="TakeTooLongToPay" />
        <ng-container *ngTemplateOutlet="AssessingLatestChanges" />
      </ng-container>

      <!-- changes accepted -->
      <ng-container *ngIf="applicationStatus.changesAccepted && !applicationStatus.withdrawalSubmitted">
        <ng-container *ngTemplateOutlet="InvoiceSent" />
        <ng-container *ngTemplateOutlet="AppWillBeSubmitted" />
        <ng-container *ngTemplateOutlet="MustPay" />
        <ng-container *ngTemplateOutlet="TakeTooLongToPay" />
        <ng-container *ngTemplateOutlet="ApprovedLatestChanges" />
      </ng-container>

      <!-- withdrawal submitted -->
      <ng-container *ngIf="applicationStatus.withdrawalSubmitted && !applicationStatus.withdrawalAccepted">
        <ng-container *ngTemplateOutlet="WithdrawalRequestSubmitted" />
        <ng-container *ngTemplateOutlet="SendEmailWhenRequestIsReviewed" />
        <ng-container *ngTemplateOutlet="StillMustPay" />
        <ng-container *ngTemplateOutlet="InvoiceSent" />
        <ng-container *ngTemplateOutlet="TakeTooLongToPay" />
      </ng-container>

      <!-- withdrawal accepted -->
      <ng-container *ngIf="applicationStatus.withdrawalAccepted">
        <ng-container *ngTemplateOutlet="WithdrawalRequestAccepted" />
        <ng-container *ngTemplateOutlet="SendEmailWhenRequestIsReviewed" />
        <ng-container *ngTemplateOutlet="StillMustPay" />
        <ng-container *ngTemplateOutlet="InvoiceSent" />
        <ng-container *ngTemplateOutlet="TakeTooLongToPay" />
      </ng-container>
    </ng-container>

    <!-- paid -->
    <ng-container *ngIf="applicationStatus.paid">
      <!-- no changes made -->
      <ng-container *ngIf="!applicationStatus.changesSubmitted && !applicationStatus.changesAccepted && !(applicationStatus.withdrawalSubmitted || applicationStatus.removalSubmitted)">
        <ng-container *ngTemplateOutlet="AssessingApplication" />
      </ng-container>

      <!-- changes submitted but not accepted yet -->
      <ng-container *ngIf="applicationStatus.changesSubmitted && !applicationStatus.changesAccepted && !(applicationStatus.withdrawalSubmitted || applicationStatus.removalSubmitted)">
        <ng-container *ngTemplateOutlet="AssessingApplication" />
        <ng-container *ngTemplateOutlet="AssessingLatestChanges" />
      </ng-container>

      <!-- changes accepted -->
      <ng-container *ngIf="applicationStatus.changesAccepted && !(applicationStatus.withdrawalSubmitted || applicationStatus.removalSubmitted)">
        <ng-container *ngTemplateOutlet="AssessingApplication" />
        <ng-container *ngTemplateOutlet="ApprovedLatestChanges" />
      </ng-container>

      <!-- withdrawal submitted -->
      <ng-container *ngIf="applicationStatus.withdrawalSubmitted && !applicationStatus.withdrawalAccepted">
        <ng-container *ngTemplateOutlet="WithdrawalRequestSubmitted" />
        <ng-container *ngTemplateOutlet="SendEmailWhenRequestIsReviewed" />
      </ng-container>

      <!-- withdrawal accepted -->
      <ng-container *ngIf="applicationStatus.withdrawalAccepted">
        <ng-container *ngTemplateOutlet="WithdrawalRequestAccepted" />
      </ng-container>
    </ng-container>
  </ng-container>

  <!-- accepted -->
  <ng-container *ngIf="applicationStatus.registrationAccepted">
    <!-- no changes made -->
    <ng-container *ngIf="!applicationStatus.changesSubmitted && !applicationStatus.changesAccepted && !(applicationStatus.withdrawalSubmitted || applicationStatus.removalSubmitted)">
      <ng-container *ngTemplateOutlet="ApplicationApproved" />
    </ng-container>

    <!-- changes submitted but not accepted yet -->
    <ng-container *ngIf="applicationStatus.changesSubmitted && !applicationStatus.changesAccepted && !(applicationStatus.withdrawalSubmitted || applicationStatus.removalSubmitted)">
      <ng-container *ngTemplateOutlet="AssessingLatestChanges" />
    </ng-container>

    <!-- changes accepted -->
    <ng-container *ngIf="applicationStatus.changesAccepted && !applicationStatus.withdrawalSubmitted">
      <ng-container *ngTemplateOutlet="ApprovedLatestChanges" />
    </ng-container>

    <!-- withdrawal submitted -->
    <ng-container *ngIf="applicationStatus.withdrawalSubmitted && !applicationStatus.withdrawalAccepted">
      <ng-container *ngTemplateOutlet="RemovalSubmitted" />
      <ng-container *ngTemplateOutlet="SendEmailWhenRequestIsReviewed" />
    </ng-container>

    <!-- withdrawal accepted -->
    <ng-container *ngIf="applicationStatus.withdrawalAccepted">
      <ng-container *ngTemplateOutlet="RemovalAccepted" />
    </ng-container>
  </ng-container>

  <!-- application history -->
  <govuk-details summaryText="Show application history" id="application_history" class="govuk-!-margin-bottom-6">
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <ng-container *ngIf="isViewOne()">
          <ng-container *ngTemplateOutlet="ApplicationHistoryRegistrationApplication" />
          <ng-container *ngTemplateOutlet="ApplicationHistoryStructureFireSafetyInformation" />
        </ng-container>

        <ng-container *ngIf="isViewOneA()">
          <ng-container *ngTemplateOutlet="ApplicationHistoryRegistrationApplication" />
          <ng-container *ngTemplateOutlet="ApplicationHistoryStructureFireSafetyInformation" />
        </ng-container>

        <ng-container *ngIf="isViewTwo()">
          <ng-container *ngTemplateOutlet="ApplicationHistoryRegistrationApplication" />
          <ng-container *ngTemplateOutlet="ApplicationHistoryStructureFireSafetyInformation" />
        </ng-container>

        <ng-container *ngIf="isViewThree()">
          <ng-container *ngTemplateOutlet="ApplicationHistoryRegistrationApplication" />
          <ng-container *ngTemplateOutlet="ApplicationHistoryStructureFireSafetyInformation" />
        </ng-container>

        <ng-container *ngIf="isViewFour()">
          <ng-container *ngTemplateOutlet="ApplicationHistoryRegistrationApplication" />
        </ng-container>

        <ng-container *ngIf="isViewFourA()">
          <ng-container *ngTemplateOutlet="ApplicationHistoryRegistrationApplication" />
        </ng-container>

        <ng-container *ngIf="isViewFive()">
          <ng-container *ngTemplateOutlet="ApplicationHistoryRegistrationApplication" />
        </ng-container>

        <ng-container *ngIf="isViewSix()">
          <ng-container *ngTemplateOutlet="ApplicationHistoryRegistrationApplication" />
        </ng-container>

        <ng-container *ngIf="isViewSeven()">
          <ng-container *ngTemplateOutlet="ApplicationHistoryChangesSubmitted" />
          <ng-container *ngTemplateOutlet="ApplicationHistoryRegistrationApplication" />
          <ng-container *ngIf="isKbiSubmitted">
            <ng-container *ngTemplateOutlet="ApplicationHistoryStructureFireSafetyInformation" />
          </ng-container>
        </ng-container>

        <ng-container *ngIf="isViewThirteen()">
          <ng-container *ngTemplateOutlet="ApplicationHistoryRegistrationApplication" />
          <ng-container *ngTemplateOutlet="ApplicationHistoryStructureFireSafetyInformation" />
        </ng-container>
      </tbody>
    </table>
  </govuk-details>

  <!-- links -->
  <div *ngIf="applicationStatus.showLinks" class="govuk-!-margin-bottom-6">
    <govuk-body>If you need to, you can:</govuk-body>
    <ul class='govuk-list govuk-list--bullet'>
      <li *ngIf="!applicationStatus.kbiSubmitted"><a href="javascript:void(0);" [routerLink]="['../registration-amendments/change-task-list']" class="govuk-link">view and update registration information, or manage who can use this service</a></li>
      <li *ngIf="applicationStatus.kbiSubmitted"><a href="javascript:void(0);" [routerLink]="['../registration-amendments/change-task-list']" class="govuk-link">view and update registration or structure and fire safety information, or manage who can use this service</a></li>
      <li><a href="javascript:void(0);" [routerLink]="['../registration-amendments/deregister-are-you-sure']" class="govuk-link">ask to withdraw this application</a></li>
    </ul>
  </div>

  <!-- registration accepted links -->
  <div *ngIf="applicationStatus.registrationAccepted && !applicationStatus.removalSubmitted && !applicationStatus.removalAccepted" class="govuk-!-margin-bottom-6">
    <govuk-body>You can <a href="javascript:void(0);" [routerLink]="['../registration-amendments/change-task-list']" class="govuk-link">view and update registration information, or manage who can use this service</a>.</govuk-body>
    <govuk-body>If it is no longer a high-rise residential building, you can <a href="javascript:void(0);" [routerLink]="['../registration-amendments/deregister-are-you-sure']" class="govuk-link">ask to remove this building from the register</a>.</govuk-body>
  </div>

  <!-- kbi link -->
  <div *ngIf="!applicationStatus.kbiSubmitted && !applicationStatus.withdrawalSubmitted">
    <h2 class="govuk-heading-m">Structure and fire safety information</h2>
    <div class="govuk-warning-text govuk-!-margin-bottom-2">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You must give us structure and fire safety information for {{applicationService.model.BuildingName}}<span *ngIf="submittionDate"> by {{get28DaysAfterSubmittionDate() | date: 'dd MMMM yyyy'}}</span>.
      </strong>
    </div>
    <govuk-button classes="govuk-!-margin-bottom-6" [routerLink]="['../kbi']">
      Give structure and fire safety information
    </govuk-button>
  </div>

  <!-- safety case report -->
  <div class="safety-case-report" *ngIf="!applicationService.model.SafetyCaseReport?.declaration">
    <h2 class="govuk-heading-m">Safety case report</h2>
    <govuk-body>You must <a href="javascript:void(0);" [routerLink]="['../safety-case-report/date']" class="govuk-link">tell us when you have prepared a safety case report.</a></govuk-body>
  </div>

</govuk-formpage>






<!-- templates -->
<ng-template #ApplicationHistoryChangesSubmitted>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link" [routerLink]="['../registration-amendments/summary']" target="_blank" role="link" tabindex="0">Changes submitted</a></td>
    <td class="govuk-table__cell">{{applicationService.model.RegistrationAmendmentsModel?.Date | date: 'dd MMMM yyyy'}}</td>
  </tr>
</ng-template>

<ng-template #ApplicationHistoryRegistrationApplication>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link" [routerLink]="['../summary']" href="" target="_blank" role="link" tabindex="0">Registration application</a></td>
    <td class="govuk-table__cell">{{ registrationApplicationDate | date: 'dd MMMM yyyy'}}</td>
  </tr>
</ng-template>

<ng-template #ApplicationHistoryStructureFireSafetyInformation>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link" [routerLink]="['../kbi/summary']" href="" target="_blank" role="link" tabindex="0">Structure and fire safety information</a></td>
    <td class="govuk-table__cell">{{kbiSubmittionDate | date: 'dd MMMM yyyy'}}</td>
  </tr>
</ng-template>

<ng-template #InvoiceSent>
  <govuk-body>We have sent an invoice to {{applicationService.model.PaymentInvoiceDetails?.Email ?? applicationService.model.ContactEmailAddress}}. If you cannot find the email, check your junk or spam folders.</govuk-body>
</ng-template>

<ng-template #AppWillBeSubmitted>
  <govuk-body>Your application will be submitted when we receive your payment.</govuk-body>
</ng-template>

<ng-template #MustPay>
  <govuk-body>You must pay the charge before we can assess your application.</govuk-body>
</ng-template>

<ng-template #TakeTooLongToPay>
  <govuk-body>If you take too long to pay, we could prosecute you under building safety law.</govuk-body>
</ng-template>

<ng-template #AssessingLatestChanges>
  <govuk-body>We are assessing the latest changes submitted on {{applicationService.model.RegistrationAmendmentsModel?.Date | date: 'dd MMMM yyyy'}}.</govuk-body>
</ng-template>

<ng-template #ApprovedLatestChanges>
  <govuk-body>We have approved the latest changes submitted on {{applicationService.model.RegistrationAmendmentsModel?.Date | date: 'dd MMMM yyyy'}}.</govuk-body>
</ng-template>

<ng-template #WithdrawalRequestSubmitted>
  <govuk-body>You have submitted a request to withdraw the application for {{applicationService.model.BuildingName}}.</govuk-body>
</ng-template>

<ng-template #SendEmailWhenRequestIsReviewed>
  <govuk-body>We will send you an email when your request has been reviewed.</govuk-body>
</ng-template>

<ng-template #StillMustPay>
  <govuk-body>You must still pay the charge.</govuk-body>
</ng-template>

<ng-template #WithdrawalRequestAccepted>
  <govuk-body>We have accepted your request to withdraw the application for {{applicationService.model.BuildingName}}.</govuk-body>
</ng-template>

<ng-template #AssessingApplication>
  <govuk-body>We are assessing the application to register {{applicationService.model.BuildingName}}. We will email you when we have reviewed it.</govuk-body>
</ng-template>

<ng-template #ApplicationApproved>
  <govuk-body>We have approved the application to register  {{applicationService.model.BuildingName}}.</govuk-body>
</ng-template>

<ng-template #RemovalSubmitted>
  <govuk-body>You have submitted a request to remove {{applicationService.model.BuildingName}} from the register.</govuk-body>
</ng-template>

<ng-template #RemovalAccepted>
  <govuk-body>We have accepted your request to remove {{applicationService.model.BuildingName}} from the register.</govuk-body>
</ng-template>