<govuk-formpage (saveAndContinue)="saveAndContinue()" (saveAndComeBack)="saveAndComeBack()">
  <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
    <govuk-error-link anchorId="flat-roof-input" message="{{getErrorMessage()}}" />
  </govuk-error-summary>

  <govuk-radio-group [errorText]="getErrorDescription(roofTypeHasErrors, getErrorMessage())" [(model)]="applicationService.currenKbiSection!.RoofType" [isPageHeading]="true"
                      title="Type of roof on {{getInfraestructureName()}}" fieldsetClass='govuk-fieldset__legend--l' fieldsetMarginBottom='govuk-!-margin-bottom-4'>
    <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currenKbiSection!.RoofType" name="materials-group" id="flat-roof" value="flat-roof" label="Flat roof" />
    <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currenKbiSection!.RoofType" name="materials-group" id="pitched-roof" value="pitched-roof" label="Pitched roof" />
    <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="applicationService.currenKbiSection!.RoofType" name="materials-group" id="mix-flat-pitched" value="mix-flat-pitched" label="Mix of flat and pitched" />
  </govuk-radio-group>

</govuk-formpage>