<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
          <govuk-error-link anchorId="assembly_and_recreation-input" message={{errorMessage}} />
        </govuk-error-summary>

        <govuk-radio-group title="Primary use for {{getInfraestructureName()}}?" 
          [isPageHeading]=true [(model)]="applicationService.currenKbiSection!.BuildingUse.PrimaryUseOfBuilding" #field [govukRequired]="field"
          id="strategy" [errorText]="getErrorDescription(primaryUseOfBuildingHasErrors, errorMessage!)" hintText="Select the area that takes up the most floor space above ground level">
          <govuk-radio [model]="applicationService.currenKbiSection!.BuildingUse.PrimaryUseOfBuilding" name="application-group" id="assembly_and_recreation" value="assembly_and_recreation" label="Assembly and recreation" (onKeyupEnter)="saveAndContinue()" />
          <govuk-radio [model]="applicationService.currenKbiSection!.BuildingUse.PrimaryUseOfBuilding" name="application-group" id="office" value="office" label="Office" (onKeyupEnter)="saveAndContinue()" />
          <govuk-radio [model]="applicationService.currenKbiSection!.BuildingUse.PrimaryUseOfBuilding" name="application-group" id="residential_dwellings" value="residential_dwellings" label="Residential dwellings" (onKeyupEnter)="saveAndContinue()" />
          <govuk-radio [model]="applicationService.currenKbiSection!.BuildingUse.PrimaryUseOfBuilding" name="application-group" id="residential_institution" value="Residential residential_institution" label="Residential institution" (onKeyupEnter)="saveAndContinue()" />
          <govuk-radio [model]="applicationService.currenKbiSection!.BuildingUse.PrimaryUseOfBuilding" name="application-group" id="other_residential_use" value="other_residential_use" label="Other residential use" (onKeyupEnter)="saveAndContinue()" />
          <govuk-radio [model]="applicationService.currenKbiSection!.BuildingUse.PrimaryUseOfBuilding" name="application-group" id="shop_and_commercial" value="shop_and_commercial" label="Shop and commercial" (onKeyupEnter)="saveAndContinue()" />
          <govuk-radio [model]="applicationService.currenKbiSection!.BuildingUse.PrimaryUseOfBuilding" name="application-group" id="other_non_residential" value="other_non_residential" label="Other non-residential" (onKeyupEnter)="saveAndContinue()" />
        </govuk-radio-group>
      </div>

      <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Save and continue</govuk-button>
      <save-and-come-back (onClick)="saveAndComeBack()" />
    </div>
  </div>
</div>
