<govuk-summary-list>
  <govuk-summary-list-row (onClick)="navigateTo('accountable-person-type')" key="Type" [showAction]=true>{{ap.Type == 'individual' ? 'Individual' : 'Organisation'}}</govuk-summary-list-row>

  <govuk-summary-list-row (onClick)="navigateTo('organisation-type')" key="Organisation type" [showAction]=true>{{organisationTypeDescription()}}</govuk-summary-list-row>
  <govuk-summary-list-row (onClick)="navigateTo('organisation-name')" key="Organisation name" [showAction]=true>{{ap.OrganisationName}}</govuk-summary-list-row>

  <govuk-summary-list-row (onClick)="navigateTo('organisation-address')" key="Organisation address" [showAction]=true>
    <address-description [address]="ap.Address" />
  </govuk-summary-list-row>

  <ng-container *ngIf="apIndex == 0">
    <govuk-summary-list-row (onClick)="navigateTo('who-are-you')" key="Who are you?" [showAction]=true>{{whoAreYouDescription()}}</govuk-summary-list-row>
    <govuk-summary-list-row *ngIf="notLead()" (onClick)="navigateTo('same-address')" key="Should we use the same address to contact you?" [showAction]=true>{{useSameAddressDescription()}}</govuk-summary-list-row>

    <govuk-summary-list-row *ngIf="notLead() && ap.ActingForSameAddress == 'no'" (onClick)="navigateTo('acting-for-address')" key="Your address" [showAction]=true>
      <address-description [address]="ap.ActingForAddress" />
    </govuk-summary-list-row>
  </ng-container>

  <ng-container *ngIf="apIndex > 0">
    <govuk-summary-list-row *ngIf="apIndex > 0" (onClick)="navigateTo('accountable-for')" key="Areas of accountability" [showAction]=true>
      <ng-container *ngFor="let section of sectionsWithAccountability()">
        <legend class="govuk-fieldset__legend--s">{{section.SectionName}}</legend>
        <govuk-body class="govuk-!-margin-0 govuk-!-margin-bottom-3" *ngFor="let acc of section.Accountability">{{_accountabilityDescription(acc)}}</govuk-body>
      </ng-container>
    </govuk-summary-list-row>
  </ng-container>

  <govuk-summary-list-row *ngIf="notLead()" (onClick)="navigateTo('lead-name')" key="Named contact" [showAction]=true>{{ap.LeadFirstName}} {{ap.LeadLastName}}</govuk-summary-list-row>
  <govuk-summary-list-row *ngIf="notLead()" (onClick)="navigateTo('lead-details')" key="Named contact's details" [showAction]=true>
    {{leadJobRoleDescription()}}<br>
    {{ap.LeadEmail}}<br>
    {{ap.LeadPhoneNumber}}
  </govuk-summary-list-row>

  <govuk-summary-list-row *ngIf="!notLead()" (onClick)="navigateTo('named-contact')" key="Named contact" [showAction]=true>{{ap.NamedContactFirstName}} {{ap.NamedContactLastName}}</govuk-summary-list-row>
  <govuk-summary-list-row *ngIf="!notLead()" (onClick)="navigateTo('named-contact-details')" key="Named contact's details" [showAction]=true>
    {{ap.NamedContactEmail}}<br>
    {{ap.NamedContactPhoneNumber}}
  </govuk-summary-list-row>

  <govuk-summary-list-row (onClick)="navigateTo('')" key="Add another accountable person?" [showAction]=true>{{hasMoreAp ? 'Yes' : 'No'}}</govuk-summary-list-row>
</govuk-summary-list>