<govuk-summary-list>
  <govuk-summary-list-row (onClick)="goToApType()" (onKeyupEnter)="goToApType()" key="Type" [showAction]=true>{{ap.Type == 'individual' ? 'Individual' : 'Organisation'}}</govuk-summary-list-row>

  <govuk-summary-list-row (onKeyupEnter)="navigateTo('organisation-type')" (onClick)="navigateTo('organisation-type')" key="Organisation type" [showAction]=true>{{ap.OrganisationType | organisationTypeDescription: ap.OrganisationTypeDescription}}</govuk-summary-list-row>
  <govuk-summary-list-row (onKeyupEnter)="navigateTo('organisation-name')" (onClick)="navigateTo('organisation-name')" key="Organisation name" [showAction]=true>{{ap.OrganisationName}}</govuk-summary-list-row>

  <govuk-summary-list-row (onClick)="navigateTo('pap-address')" (onKeyupEnter)="navigateTo('pap-address')" key="Organisation address" [showAction]=true>
    <address-description [address]="apAddress" />
  </govuk-summary-list-row>

  <ng-container *ngIf="apIndex == 0">
    <govuk-summary-list-row (onClick)="navigateTo('who-are-you')" (onKeyupEnter)="navigateTo('who-are-you')" key="Are you the named contact?" [showAction]=true>{{ap.Role | whoAreYouDescription }}</govuk-summary-list-row>
    <govuk-summary-list-row *ngIf="isNamedContact()" (onClick)="navigateTo('pap-named-role')" (onKeyupEnter)="navigateTo('pap-named-role')" key="Job role" [showAction]=true>{{ap.LeadJobRole | leadJobRoleDescription}}</govuk-summary-list-row>
    <govuk-summary-list-row *ngIf="isRegisteringFor()" (onClick)="navigateTo('same-address')" (onKeyupEnter)="navigateTo('same-address')" key="Should we use the same address to contact you?" [showAction]=true>{{ap.ActingForSameAddress | useSameAddressDescription}}</govuk-summary-list-row>
    <govuk-summary-list-row *ngIf="isRegisteringFor() && ap.ActingForSameAddress == 'no'" (onClick)="navigateTo('acting-for-address')" (onKeyupEnter)="navigateTo('acting-for-address')" key="Your address" [showAction]=true>
      <address-description [address]="ap.ActingForAddress" />
    </govuk-summary-list-row>
  </ng-container>

  <ng-container>
    <govuk-summary-list-row (onKeyupEnter)="navigateToAccountability()" (onClick)="navigateToAccountability()" key="Areas of accountability" [showAction]=true>
      <ng-container *ngFor="let section of sectionsWithAccountability()">
        <h2 class="govuk-heading-s">{{section.SectionName}}</h2>
        <govuk-body class="govuk-!-margin-0 govuk-!-margin-bottom-3" *ngFor="let acc of section.Accountability">{{acc | accountabilityDescription}}</govuk-body>
      </ng-container>
    </govuk-summary-list-row>
  </ng-container>

  <govuk-summary-list-row *ngIf="isRegisteringFor() || isEmployee()" (onKeyupEnter)="navigateTo('lead-name')" (onClick)="navigateTo('lead-name')" key="Named contact" [showAction]=true>{{ap.LeadFirstName}} {{ap.LeadLastName}}</govuk-summary-list-row>
  <govuk-summary-list-row *ngIf="isRegisteringFor() || isEmployee()" (onKeyupEnter)="navigateTo('lead-details')" (onClick)="navigateTo('lead-details')" key="Named contact's details" [showAction]=true>
    <div>{{ap.LeadJobRole | leadJobRoleDescription}}</div>
    <div>{{ap.LeadEmail}}</div>
    <div>{{ap.LeadPhoneNumber}}</div>
  </govuk-summary-list-row>

  <govuk-summary-list-row *ngIf="apIndex > 0" (onKeyupEnter)="navigateTo('named-contact')" (onClick)="navigateTo('named-contact')" key="Named contact" [showAction]=true>{{ap.NamedContactFirstName}} {{ap.NamedContactLastName}}</govuk-summary-list-row>
  <govuk-summary-list-row *ngIf="apIndex > 0" (onKeyupEnter)="navigateTo('named-contact-details')" (onClick)="navigateTo('named-contact-details')" key="Named contact's details" [showAction]=true>
    <div>{{ap.NamedContactEmail}}</div>
    <div>{{ap.NamedContactPhoneNumber}}</div>
  </govuk-summary-list-row>

  <govuk-summary-list-row (onClick)="addMore()" (onKeyupEnter)="addMore()" key="Add another accountable person?" [showAction]=true>{{hasMoreAp ? 'Yes' : 'No'}}</govuk-summary-list-row>
</govuk-summary-list>