<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
          <govuk-error-link *ngFor="let error of errors" anchorId="{{error.anchorId}}" [message]="error.shortMessage" />
        </govuk-error-summary>

        <h1 class="govuk-heading-l">Areas of accountability for {{applicationService.model.BuildingName}}</h1>
        <govuk-body>{{getApName()}} is accountable for the structure and exterior of the building.</govuk-body>

        <div class="govuk-!-margin-bottom-6" *ngFor="let section of applicationService.model.Sections; let i = index">
          <accountability [title]="getCheckboxTitle(i)" hint="Select all that apply" [id]="createSectionId(i)" [errorText]="getSectionError(i)"
            [(model)]="applicationService.currentAccountablePerson.SectionsAccountability![i].Accountability!"
            (onKeyupEnter)="saveAndContinue()">
          </accountability>
        </div>

      </div>

      <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Save and continue</govuk-button>
      <save-and-come-back (onClick)="saveAndComeBack()" />
    </div>
  </div>
</div>
