<govuk-summary-list>
    <govuk-summary-list-row *ngIf="applicationService.model.Sections.length > 1" key="Connections between the structures" [showAction]=false>
        <div *ngFor="let connection of applicationService.currentKbiModel!.Connections!.StructureConnections!">
            {{connection | ConnectionTypesPipe}}
        </div>
    </govuk-summary-list-row>     
    <govuk-summary-list-row key="Connected to other high-rise residential buildings?" [showAction]=false>
        {{applicationService.currentKbiModel!.Connections!.OtherHighRiseBuildingConnections! === 'yes' ? "Yes" : "No"}}
    </govuk-summary-list-row>
    <govuk-summary-list-row key="Connections to other high-rise residential buildings" *ngIf="hasOtherHighRiseBuildingConnections()" [showAction]=false>
        <div *ngFor="let connection of applicationService.currentKbiModel!.Connections!.HowOtherHighRiseBuildingAreConnected!">
            {{connection | ConnectionTypesPipe}}
        </div>
    </govuk-summary-list-row>
    <govuk-summary-list-row key="Connected to other buildings?" [showAction]=false>
        {{applicationService.currentKbiModel!.Connections!.OtherBuildingConnections! === 'yes' ? "Yes" : "No"}}        
    </govuk-summary-list-row>
    <govuk-summary-list-row key="Connections to other buildings" *ngIf="hasOtherBuildingConnections()" [showAction]=false>
        <div *ngFor="let connection of applicationService.currentKbiModel!.Connections!.HowOtherBuildingAreConnected!">
            {{connection | ConnectionTypesPipe}}
        </div>
    </govuk-summary-list-row>     
  </govuk-summary-list>