<govuk-formpage (saveAndContinue)="saveAndContinue()" (saveAndComeBack)="saveAndComeBack()" [processing]="processing">

    <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
      <govuk-error-link *ngIf="certificateHasErrors" anchorId="input-block-name" [message]="errorMessage" />
    </govuk-error-summary>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Upload completion certificate {{ isOptional ? '(optional)' : ''}}</h1>
    <govuk-body class="govuk-hint">Upload a file</govuk-body>

    <govuk-error id="error-uploads" *ngIf="hasErrors" [text]="errorMessage" />

    <input class="govuk-file-upload govuk-!-margin-bottom-5" aria-label="Upload evidence file" aria-describedby="hint-upload-file-hint" id="upload-input" [attr.aria-describedby]="getUploadError()" type="file" (change)="fileSelected($event)" accept=".ods,.pdf,.jpeg,.tif,.bmp,.png">

    <div class="govuk-!-margin-bottom-8 file-list" *ngIf="selectedFileUpload">
      <div class="file-list-item" id="upload-tag-0">
        <govuk-body class="file-list-key">{{selectedFileUpload.file.name.replace('C:\\fakepath\\', '')}}</govuk-body>
        <div class="file-list-value">
          <govuk-tag class="govuk-tag--yellow upload-progress" *ngIf="selectedFileUpload.status == 'uploading'" [style]="getFileProgress(selectedFileUpload)">UPLOADING</govuk-tag>
          <govuk-tag class="govuk-tag--yellow" *ngIf="selectedFileUpload.status == 'scanning' || selectedFileUpload.status == 'processing'">{{selectedFileUpload.status}}</govuk-tag>
          <govuk-tag class="govuk-tag--red" *ngIf="selectedFileUpload.status == 'malware'">ERROR</govuk-tag>
          <govuk-tag class="govuk-tag--green" *ngIf="selectedFileUpload.status == 'uploaded'">UPLOADED</govuk-tag>
          <govuk-tag class="govuk-tag--red" *ngIf="selectedFileUpload.status == 'invalid'">INVALID FILE TYPE</govuk-tag>
          <govuk-tag class="govuk-tag--red" *ngIf="selectedFileUpload.status == 'toolarge'">FILE TOO LARGE</govuk-tag>
        </div>
      </div>
    </div>

</govuk-formpage>