<govuk-formpage (saveAndContinue)="saveAndContinue()" (saveAndComeBackLater)="saveAndComeBack()">

    <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
      <govuk-error-link *ngIf="certificateHasErrors" anchorId="input-block-name" [message]="errorMessage" />
    </govuk-error-summary>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Upload completion certificate {{ isOptional ? '(optional)' : ''}}</h1>
    <govuk-body class="govuk-hint">Upload a file</govuk-body>

    <govuk-error id="error-uploads" *ngIf="hasErrors" [text]="errorMessage" />

    <input class="govuk-file-upload govuk-!-margin-bottom-5" aria-label="Upload evidence file" aria-describedby="hint-upload-file-hint" id="upload-input" [attr.aria-describedby]="getUploadError()" type="file" (change)="fileSelected($event)" multiple="false" accept=".ods,.pdf,.jpeg,.tif,.bmp,.png">

    <div class="govuk-!-margin-bottom-8" *ngIf="fileUploads.length == 0"></div>

    <div class="govuk-!-margin-bottom-8 file-list" *ngIf="fileUploads.length > 0">
      <div *ngFor="let upload of fileUploads; let i = index" class="file-list-item" id="upload-tag-{{i}}">
        <govuk-body class="file-list-key">{{upload.file.name}}</govuk-body>
        <div class="file-list-value">
          <govuk-tag class="govuk-tag--yellow upload-progress" *ngIf="upload.status == 'uploading'" [style]="getFileProgress(upload)">UPLOADING</govuk-tag>
          <govuk-tag class="govuk-tag--yellow" *ngIf="upload.status == 'scanning' || upload.status == 'processing'">{{upload.status}}</govuk-tag>
          <govuk-tag class="govuk-tag--red" *ngIf="upload.status == 'malware'">ERROR</govuk-tag>
          <govuk-tag class="govuk-tag--green" *ngIf="upload.status == 'uploaded'">UPLOADED</govuk-tag>
          <govuk-tag class="govuk-tag--red" *ngIf="upload.status == 'invalid'">INVALID FILE TYPE</govuk-tag>
          <govuk-tag class="govuk-tag--red" *ngIf="upload.status == 'toolarge'">FILE TOO LARGE</govuk-tag>
        </div>
      </div>
    </div>

</govuk-formpage>