<div class="govuk-form-group">

  <govuk-fieldset [title]="getTitle()"
   [isPageHeading]=true id="application" titleClass='govuk-fieldset__legend--l govuk-!-margin-bottom-6' class='govuk-!-margin-bottom-4'>
    <govuk-inset-text>
      <address-description [address]="address"/>
    </govuk-inset-text>
  </govuk-fieldset>
</div>

<govuk-button (onClick)="onAddressConfirmed.emit()">Confirm</govuk-button>
<govuk-body><a class="govuk-link" (keyup.enter)="onSearchAgain.emit()" (click)="onSearchAgain.emit()" role="link" tabindex="0">Search again</a></govuk-body>
<govuk-body><a class="govuk-link" (keyup.enter)="onEnterManualAddress.emit()" (click)="onEnterManualAddress.emit()" role="link" tabindex="0">Enter address manually</a></govuk-body>
