<div class="govuk-form-group">

  <govuk-error-summary *ngIf="postcodeHasErrors" title="There is a problem" #summaryError>
    <govuk-error-link anchorId="input-postcode" message="{{postcodeErrorText}}" />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">{{getTitle()}}</h1>

  <govuk-body *ngIf="pap()">This is the address we will send official communications to, including serving notices.</govuk-body>
  <govuk-body>{{addressTypeDescription()}}</govuk-body>
  
  <govuk-input id="postcode" label="Postcode"
                [(model)]="searchModel.postcode"
                [errorText]="getErrorDescription(postcodeHasErrors, postcodeErrorText)"
                class="govuk-!-margin-bottom-5 govuk-input--width-10"
                (onKeyupEnter)="findAddress()" />

  <govuk-input id="address-line-one" label="Address line 1 (optional)"
                hint="For example, '30 St Mary Axe'."
                [(model)]="searchModel.addressLine1"
                class="govuk-!-margin-bottom-5"
                (onKeyupEnter)="findAddress()" />

  <govuk-button [isLoading]="loading" loadingText="Searching..." [disabled]="loading" (onClick)="findAddress()">Find address</govuk-button>
</div>
