<div class="govuk-form-group">

  <govuk-fieldset title="Address not found" [isPageHeading]=true id="application" titleClass='govuk-fieldset__legend--l govuk-!-margin-bottom-6' class='govuk-!-margin-bottom-4'>
    <govuk-body>No addresses found for  <b>{{ searchModel.postcode }}</b><span *ngIf="searchModel.addressLine1"> and <b>{{searchModel.addressLine1}}</b></span></govuk-body>
    <govuk-body>
      You can either <a class="govuk-link" (click)="onSearchAgain.emit()" (keyup.enter)="onSearchAgain.emit()" role="link" tabindex="0">search again</a> or
      <a class="govuk-link" (click)="onEnterManualAddress.emit()" (keyup.enter)="onEnterManualAddress.emit()" role="link" tabindex="0">enter address manually</a>.
    </govuk-body>
  </govuk-fieldset>
</div>
