<file-upload-input id="file-upload-p-org"
                   [fileInfoModel]="totalFilesUploading()"
                   inputClass="govuk-file-upload govuk-!-margin-bottom-5"
                   type="file"
                   [labelClass]="labelClass"
                   [hintClass]="hintClass"
                   [isPageHeading]="true"
                   (onChange)="selectFiles($event)"
                   [label]="label"
                   [hint]="hint" />

<file-upload-info [showUploadingInfo]=showUploadingInfo [(model)]="fileModel" [showUploadedFiles]="showFilesUploded" [fileUploadingInfoModel]="totalFilesProcessing()" [fileInfoModel]="totalFilesProcessed()" (onClick)="remove($event)" (onKeyupEnter)="remove($event)" />
