<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem">
          <govuk-error-link anchorId="input-security-code" [message]="getOtpError()" />
        </govuk-error-summary>

        <span class="govuk-caption-xl">Your contact details</span>
        <govuk-fieldset title="Verify your email address" [isPageHeading]=true id="application" titleClass='govuk-fieldset__legend--l govuk-!-margin-bottom-6' class='govuk-!-margin-bottom-4'>

          <govuk-body>We have sent a 6-digit security code to: <b>{{ applicationService.model.ContactEmailAddress}}</b>.</govuk-body>
          <govuk-body>If you cannot find the email, please check your junk or spam folders.</govuk-body>
          <govuk-body>If you did not get an email, or wish to use a different email address, you can resend the email or enter a different email address.</govuk-body>

          <govuk-input id="security-code" label="Security code" labelClass="govuk-label--s"
                       hint="For example, '123456'."
                       [(model)]="otpToken" class="govuk-input--width-10"
                       [errorText]="getErrorDescription(hasErrors, getOtpError())" />
        </govuk-fieldset>
      </div>

      <a href="#" class="govuk-button govuk-button--secondary govuk-!-margin-right-2" data-module="govuk-button" target="_blank">
        Launch emails
      </a>
      <govuk-button (onClick)="saveAndContinue()" [isLoading]="sendingRequest">Save and continue</govuk-button>
    </div>
  </div>
</div>
