<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem">
          <govuk-error-link anchorId="input-email" message="You must enter an email address in the correct format, like name@example.com" /> 
        </govuk-error-summary>

        <span class="govuk-caption-xl">Your contact details</span>
        <govuk-fieldset title="Your email address" [isPageHeading]=true id="application" titleClass='govuk-fieldset__legend--xl govuk-!-margin-bottom-8' class='govuk-!-margin-bottom-4'>

          <govuk-body>To secure your application and allow you to return to it later, we need to verify your email address. To do this, we will send you a 6 digit security code.</govuk-body>

          <govuk-body>If you do not have an email address, contact us to apply to register a high-rise building.</govuk-body>

          <govuk-input id="email"
                       [(model)]="registrationService.model.ContactEmailAddress"
                       label="Enter your email address" labelClass="govuk-label--s"
                       [errorText]="getErrorDescription(emailHasErrors, 'Enter an email address in the correct format')"
                       hint="We will use this to confirm when your application has been submitted and contact you in the future about your applicaton"
                       class="govuk-!-margin-bottom-1" />
        </govuk-fieldset>
      </div>

      <govuk-button (onClick)="saveAndContinue()" [isLoading]="sendingRequest">Send verification email</govuk-button>
    </div>
  </div>
</div>
