<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Provide basic information about the blocks</span>
      <govuk-fieldset title="Check your answers" [isPageHeading]=true id="application" titleClass='govuk-fieldset__legend--xl govuk-!-margin-bottom-8' class='govuk-!-margin-bottom-4'>

        <govuk-fieldset title="First block" [isPageHeading]=false id="first-block" titleClass='govuk-fieldset__legend--l' class='govuk-!-margin-bottom-6' />

        <govuk-summary-list>
          <govuk-summary-list-row key="Number of floors" (onClick)="onSummaryRowClick($event, URLs.floorsAbove)"
                                  link="{{URLs.floorsAbove}}">{{block.FloorsAbove}}
          </govuk-summary-list-row>
          <govuk-summary-list-row key="Height"
                                  link="{{URLs.height}}">{{block.Height}} metres
          </govuk-summary-list-row>
          <govuk-summary-list-row key="Number of residential units"
                                  link="{{URLs.residentialUnits}}">{{block.ResidentialUnits}}
          </govuk-summary-list-row>
          <govuk-summary-list-row key="Are people living in the block?"
                                  link="{{URLs.peopleLivingInBuilding}}">{{block.PeopleLivingInBuilding}}
          </govuk-summary-list-row>
          <govuk-summary-list-row key="Year of completion"
                                  link="{{URLs.yearCompletition}}">{{block.YearCompletition}}
          </govuk-summary-list-row>
          <govuk-summary-list-row key="Completion certificate issuer"
                                  link="{{URLs.completitionCertificateIssuer}}">{{block.CompletitionCertificateIssuer}}
          </govuk-summary-list-row>
          <govuk-summary-list-row key="Completion certificate reference"
                                  link="{{URLs.completitionCertificateReference}}">{{block.CompletitionCertificateReference}}
          </govuk-summary-list-row>
          <govuk-summary-list-row key="Address"
                                  link="{{URLs.address}}">{{block.Address}}
          </govuk-summary-list-row>
        </govuk-summary-list>

      </govuk-fieldset>
      <govuk-button (onClick)="saveAndContinue()">Save and continue</govuk-button>
      <govuk-body><a class="govuk-link" href="/start">Save and exit this application</a></govuk-body>
    </div>
  </div>
</div>
