<govuk-summary-list>

    <govuk-summary-list-row key="External wall materials" [showAction]=false>
      <ng-container *ngFor="let type of externalWalls!.ExternalWallMaterials!">
        <div>{{getExternalWallMaterialName(type.key)}}</div>
      </ng-container>
    </govuk-summary-list-row>

    <govuk-summary-list-row *ngIf="hasAcm()" key="ACM fire tests" [showAction]=false>
      <div>{{getACMFireTests(externalWalls!.WallACM!)}}</div>
    </govuk-summary-list-row>

    <govuk-summary-list-row *ngIf="hasHpl()" key="HPL fire tests" [showAction]=false>
      <div>{{getHPLFireTests(externalWalls!.WallHPL!)}}</div>
    </govuk-summary-list-row>

    <govuk-summary-list-row key="Percentage coverage" [showAction]=false>
      <ng-container *ngFor="let type of externalWalls!.ExternalWallMaterials!">
        <div>{{getExternalWallMaterialName(type.key)}}: {{type.value}}%</div>
      </ng-container>
    </govuk-summary-list-row>

    <govuk-summary-list-row key="Outside walls insulation type" [showAction]=false>
      <ng-container *ngFor="let type of externalWalls!.ExternalWallInsulation!">
        <div #showType>{{getInsulationName(type.key)}} </div>
      </ng-container>

      <ng-container *ngIf="externalWalls!.ExternalWallInsulationOtherValue">
        <div #showTypeAndOther>Other - {{externalWalls!.ExternalWallInsulationOtherValue!}}</div>
      </ng-container>
    </govuk-summary-list-row>

    <govuk-summary-list-row *ngIf="!isNone()" key="Percentage coverage" [showAction]=false>
      <ng-container *ngFor="let type of externalWalls!.ExternalWallInsulation!">
        <div>{{getInsulationName(type.key)}}: {{type.value}}%</div>
      </ng-container>
    </govuk-summary-list-row>

</govuk-summary-list>
