<govuk-summary-list>

    <govuk-summary-list-row key="Energy Storage" (onKeyupEnter)="navigateToEnergyStorage()" (onClick)="navigateToEnergyStorage()" [showAction]=true>
      <ng-container *ngFor="let type of energySupplyAndStorage!.EnergyTypeStorage!">
        <div>{{getEnergyStorageName(type)}}</div>
      </ng-container>
    </govuk-summary-list-row>

    <govuk-summary-list-row key="On site generation" (onKeyupEnter)="navigateToOnSiteGeneration()" (onClick)="navigateToOnSiteGeneration()" [showAction]=true>
      <ng-container *ngFor="let type of energySupplyAndStorage!.OnsiteEnergyGeneration!">
        <div>{{getOnSiteGenerationName(type)}}</div>
      </ng-container>
    </govuk-summary-list-row>

    <govuk-summary-list-row key="Energy supplies" (onKeyupEnter)="navigateToEnergySupplies()" (onClick)="navigateToEnergySupplies()" [showAction]=true>
      <ng-container *ngFor="let type of energySupplyAndStorage!.EnergySupply!">
        <div>{{getEnergySupplyName(type)}}</div>
      </ng-container>
    </govuk-summary-list-row>

</govuk-summary-list>
