<govuk-summary-list>

    <govuk-summary-list-row key="External wall materials" (onKeyupEnter)="navigate('external-materials')" (onClick)="navigate('external-materials')" [showAction]=true>
      <ng-container *ngFor="let type of externalWalls!.ExternalWallMaterials!">
        <div>{{getExternalWallMaterialName(type.key)}}</div>
      </ng-container>
    </govuk-summary-list-row>

    <govuk-summary-list-row *ngIf="hasAcm()" key="ACM fire tests" (onKeyupEnter)="navigate('acm')" (onClick)="navigate('acm')" [showAction]=true>
      <div>{{getACMFireTests(externalWalls!.WallACM!)}}</div>
    </govuk-summary-list-row>

    <govuk-summary-list-row *ngIf="hasHpl()" key="HPL fire tests" (onKeyupEnter)="navigate('hpl')" (onClick)="navigate('hpl')" [showAction]=true>
      <div>{{getHPLFireTests(externalWalls!.WallHPL!)}}</div>
    </govuk-summary-list-row>

    <govuk-summary-list-row key="Percentage coverage" (onKeyupEnter)="navigate('estimated-percentage')" (onClick)="navigate('estimated-percentage')" [showAction]=true>
      <ng-container *ngFor="let type of externalWalls!.ExternalWallMaterials!">
        <div>
          {{getExternalWallMaterialName(type.key)}}: {{type.value}}%
        </div>
      </ng-container>
    </govuk-summary-list-row>

    <govuk-summary-list-row key="Outside walls insulation type" (onKeyupEnter)="navigate('external-insulation-type')" (onClick)="navigate('external-insulation-type')" [showAction]=true>
      <ng-container *ngFor="let type of externalWalls!.ExternalWallInsulation!">
        <div #showType>{{getInsulationName(type.key)}} </div>
      </ng-container>

      <ng-container *ngIf="externalWalls!.ExternalWallInsulationOtherValue">
        <div #showTypeAndOther>Other - {{externalWalls!.ExternalWallInsulationOtherValue!}}</div>
      </ng-container>

    </govuk-summary-list-row>

    <govuk-summary-list-row *ngIf="!isNone()" key="Percentage coverage" (onKeyupEnter)="navigate('external-insulation-percentage')" (onClick)="navigate('external-insulation-percentage')" [showAction]=true>
      <ng-container *ngFor="let type of externalWalls!.ExternalWallInsulation!">
        <div>{{getInsulationName(type.key)}}: {{type.value}}%</div>
      </ng-container>
    </govuk-summary-list-row>

</govuk-summary-list>
