<govuk-summary-list>

  <govuk-summary-list-row key="Attached features" (onKeyupEnter)="navigateToExternalFeatures()" (onClick)="navigateToExternalFeatures()" [showAction]=true>
    <ng-container *ngIf="externalFeatures.ExternalFeatures">
      <ng-container *ngFor="let type of externalFeatures!.ExternalFeatures!">
        <div>{{getFeatureName(type)}}</div>
      </ng-container>
    </ng-container>
  </govuk-summary-list-row>

  <govuk-summary-list-row key="Balconies materials" (onKeyupEnter)="nagivateToExternalFeaturesMaterials()" (onClick)="nagivateToExternalFeaturesMaterials()" [showAction]=true>

    <ng-container *ngIf="!!externalFeatures?.FeatureMaterialsOutside!['balconies']">
      <ng-container *ngFor="let material of externalFeatures!.FeatureMaterialsOutside!['balconies']">
        <div>{{getMaterialName(material)}}</div>
      </ng-container>
    </ng-container>

  </govuk-summary-list-row>

</govuk-summary-list>