<govuk-summary-list>


  <ng-container>

    <govuk-summary-list-row key="Number of floors below ground level" (onKeyupEnter)="navigate('floors-below-ground-level')" (onClick)="navigate('floors-below-ground-level')" [showAction]=true>
      <div>{{buildingUse.FloorsBelowGroundLevel!}}</div>
    </govuk-summary-list-row>

    <govuk-summary-list-row key="Primary use of floors below ground level" (onKeyupEnter)="navigate('primary-use-floors-below-ground-level')" (onClick)="navigate('primary-use-floors-below-ground-level')" [showAction]=true>
      <div>{{getBuildingUse(buildingUse.PrimaryUseBuildingBelowGroundLevel!)}}</div>
    </govuk-summary-list-row>

  </ng-container>

</govuk-summary-list>
