<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
          <govuk-error-link anchorId="input-residential-units" [message]="errorMessage" />
        </govuk-error-summary>

        <h1 class="govuk-heading-l">Number of residential units in {{buildingOrSectionName}}</h1>

        <govuk-body>A residential unit is a flat, maisonette, student bedroom, room or flat in a house in multiple occupation or any other place where someone could live.</govuk-body>

        <div class="govuk-hint govuk-!-margin-bottom-4">Count all residential units, whether someone is living in them or not.</div>

        <govuk-input label="Number of residential units" labelClass="govuk-label--s" id="residential-units"
                     [(model)]="model" #field [govukRequired]="field"
                     [errorText]="getErrorDescription(residentialUnitsHasErrors, errorMessage)"
                     class="govuk-input--width-4" (onKeyupEnter)="saveAndContinue()" />

      </div>

      <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Save and continue</govuk-button>
      <save-and-come-back (onClick)="saveAndComeBack()" />
    </div>
  </div>
</div>
