<govuk-formpage (saveAndContinue)="saveAndContinue()" (saveAndComeBack)="saveAndComeBack()">

  <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
    <govuk-error-link anchorId="input-residential-units" [message]="errorMessage" />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">Number of residential units in {{sectionBuildingName()}}</h1>

  <govuk-body>A residential unit is a flat, maisonette, student bedroom, room or flat in a house in multiple occupation or any other place where someone could live.</govuk-body>

  <div class="govuk-hint govuk-!-margin-bottom-4">Count all residential units, whether someone is living in them or not.</div>

  <govuk-input label="Number of residential units" labelClass="govuk-label--s" id="residential-units"
                [(model)]="applicationService.currentSection.ResidentialUnits" #field [govukRequired]="field"
                [errorText]="getErrorDescription(residentialUnitsHasErrors, errorMessage)"
                class="govuk-input--width-4" (onKeyupEnter)="saveAndContinue()" />

</govuk-formpage>
