<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
                    <govuk-error-link anchorId="yes-input" message={{errorMessage}} />
                </govuk-error-summary>

                <govuk-radio-group title="Has {{getInfraestructureName()}} had a different primary use in the past?"
                    [isPageHeading]=true id="primary-use" #field [govukRequired]="field" 
                    [(model)]="model" 
                    [errorText]="getErrorDescription(changePrimaryUseHasErrors, errorMessage!)"
                    hintText="For example, an office or factory could have been converted into residential units">
                    <govuk-radio [model]="model" name="application-group" label="Yes" id="yes" value="yes" (onKeyupEnter)="saveAndContinue()" />
                    <govuk-radio [model]="model" name="application-group" label="No" id="no" value="no" (onKeyupEnter)="saveAndContinue()" />
                    </govuk-radio-group>
            </div>

            <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Save and continue</govuk-button>
            <save-and-come-back (onClick)="saveAndComeBack()" />
        </div>
    </div>
</div>