<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <b>[WIP]</b>
        <govuk-fieldset title="Is your building a complex structure?" [isPageHeading]=true id="application" titleClass='govuk-fieldset__legend--xl govuk-!-margin-bottom-8' class='govuk-!-margin-bottom-4'>

          <govuk-radio-group [(model)]="continueLink">
            <govuk-radio name="application-group" id="application-yes" value="intro" label="Yes">
            </govuk-radio>
            <govuk-radio name="application-group" id="application-no" value="floors-above" label="No"
                         class="govuk-radio-no-margin-bottom">
            </govuk-radio>
          </govuk-radio-group>

        </govuk-fieldset>
      </div>

      <govuk-button (onClick)="saveAndContinue()">Save and continue</govuk-button>
    </div>
  </div>
</div>
