<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        
        <div class="govuk-panel" style="background-color: #f3f2f1">
          <h1 class="govuk-panel__title">You do not need to register {{applicationService.model.BuildingName}}</h1>
        </div>    

        <govuk-body>Based on the information you have told us:</govuk-body>
        
        <govuk-list classes='govuk-list--bullet'>
          <govuk-list-item *ngFor="let section of applicationService.currentVersion.Sections" text="{{getOutOfScopeReason(section)}}" />
          <govuk-list-item>there are no other structures within {{applicationService.model.BuildingName}}</govuk-list-item>
        </govuk-list>

        <govuk-body>The guide <a href="https://www.gov.uk/guidance/applying-to-register-a-high-rise-residential-building" class="govuk-link" tabindex="0" role="link">
          Applying to register a high-rise residential building</a> will help you to understand which buildings you need to register.</govuk-body>
      
        <govuk-body><a class="govuk-link" href="https://forms.office.com/e/dRsZyPur6S" role="link" tabindex="0">What did you think of this service?</a> (takes 30 seconds)</govuk-body>
        <govuk-body><a class="govuk-link" (click)="registerAnother()" role="link" tabindex="0" (keyup.enter)="registerAnother()">Register another building</a></govuk-body>
        
      </div>
    </div>
  </div>
</div>
