<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-fieldset title="You do not need to register this building " [isPageHeading]=true id="application" titleClass='govuk-fieldset__legend--l'>

          <govuk-body>Based on the answers you've given, there is no need to register this building.</govuk-body>
          <govuk-body>You can <a class="govuk-link" (click)="registerAnother()" role="link">register another building.</a></govuk-body>
        </govuk-fieldset>
      </div>

      <govuk-body><a class="govuk-link" role="link">Back to GOV.UK home</a></govuk-body>
    </div>
  </div>
</div>