<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
          <govuk-error-link anchorId="input-phone-number" message="You must enter a UK telephone number. For example, 01632 960 001, 07700 900 982 or +44 808 157 0192" />
        </govuk-error-summary>


        <h1 class="govuk-heading-l">Your telephone number</h1>


        <govuk-body>We will use this if we need to check anything you have told us in this application.</govuk-body>

        <govuk-input id="phone-number" label="Telephone or mobile number" labelClass="govuk-label--s"
                     hint="Enter a UK telephone or mobile number with or without spaces. For example, '012 3456 7890' or '+447654321098'."
                     [(model)]="applicationService.model.ContactPhoneNumber"
                     [errorText]="getErrorDescription(phoneNumberHasErrors, 'Enter a UK telephone number')"
                     class="govuk-!-margin-bottom-1" type="tel"
                     (onKeyupEnter)="saveAndContinue()" />

      </div>

      <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Continue</govuk-button>
    </div>
  </div>
</div>
