<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
          <govuk-error-link anchorId="yes-input" [message]=errorMessage />
        </govuk-error-summary>

        <govuk-radio-group title="Is {{getBuildingName()}} connected to any other buildings?" 
                [isPageHeading]=true [(model)]="model" #field [govukRequired]="field"
                id="building-connections" [errorText]="getErrorDescription(otherBuildingConnectionsHasErrors, errorMessage!)">
            <govuk-radio [model]="model" name="application-group" id="yes" value="yes" label="Yes" (onKeyupEnter)="saveAndContinue()" />
            <govuk-radio [model]="model" name="application-group" id="no" value="no" label="No" (onKeyupEnter)="saveAndContinue()" />
    
        </govuk-radio-group>
      </div>

      <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing">Save and continue</govuk-button>
      <save-and-come-back (onClick)="saveAndComeBack()" />
    </div>
  </div>
</div>