<govuk-checkbox-group [hint]="hint" id="equipment" #field [govukRequired]="field"
    [title]="title" [(model)]="model">
    <govuk-checkbox #checkbox (onKeyupEnter)="onKeyupEnter.emit()" (onClicked)="optionClicked()" id="equipment_heat_detectors" [model]="model" text="Heat detectors" value="heat_detectors" />
    <govuk-checkbox #checkbox (onKeyupEnter)="onKeyupEnter.emit()" (onClicked)="optionClicked()" id="equipment_smoke_detectors" [model]="model" text="Smoke detectors" value="smoke_detectors" />
    <govuk-checkbox #checkbox (onKeyupEnter)="onKeyupEnter.emit()" (onClicked)="optionClicked()" id="equipment_sprinklers" [model]="model" text="Sprinklers" value="sprinklers" />
    <div class="govuk-radios__divider">or</div>
    <govuk-checkbox #noneCheckbox (onKeyupEnter)="onKeyupEnter.emit()" (onClicked)="noneOptionClicked()" id="equipment_none" [model]="model" text="None of these" value="none" />
</govuk-checkbox-group>