<ng-container *ngIf="!!changes && changes.length > 0">
    <h2 class="govuk-heading-m">Building summary</h2>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                What's changing
            </dt>
            <dd class="govuk-summary-list__value">
                <strong>What it was</strong>
            </dd>
            <dd class="govuk-summary-list__value">
                <strong style="white-space: nowrap;">What you're changing it to</strong>
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
        </div>
        <div class="govuk-summary-list__row" *ngFor="let change of changes; let i = index">
            <ng-container *ngIf="change!.Title != 'Structures'; else Structures">
                <dt class="govuk-summary-list__key">
                    {{change!.Title}} 
                </dt>
                <dd class="govuk-summary-list__value" *ngIf="!change.IsAddress; else oldAddresses">
                    <ng-container *ngIf="isArray(change!.OldValue)"><div *ngFor="let name of change!.OldValue">{{name}}</div></ng-container> 
                    <ng-container *ngIf="!isArray(change!.OldValue)">{{change!.OldValue}}</ng-container> 
                </dd>
                <dd class="govuk-summary-list__value" *ngIf="!change.IsAddress; else newAddresses">
                    <ng-container *ngIf="isArray(change!.NewValue)"><div *ngFor="let name of change!.NewValue">{{name}}</div></ng-container> 
                    <ng-container *ngIf="!isArray(change!.NewValue)">{{change!.NewValue}}</ng-container> 
                </dd>
                <dd class="govuk-summary-list__actions" *ngIf="!change.IsAddress; else navigateToCheckAnswersPage">
                    <a class="govuk-link" role="link" (click)="navigateTo(change!.Route!, i)" (keyup.enter)="navigateTo(change!.Route!, i)"
                        tabindex="0">Change<span class="govuk-visually-hidden">Change</span></a>
                </dd>
            </ng-container>
            

            <ng-template #oldAddresses>
                <dd class="govuk-summary-list__value">
                    <div class="govuk-!-margin-bottom-5" *ngFor="let address of change!.OldAddresses!">
                        <address-description  [address]="address" />
                    </div>
                </dd>
            </ng-template>

            <ng-template #newAddresses>
                <dd class="govuk-summary-list__value">
                    <div class="govuk-!-margin-bottom-5" *ngFor="let address of change!.NewAddresses!">
                        <address-description  [address]="address" />
                    </div>
                </dd>
            </ng-template>

            <ng-template #navigateToCheckAnswersPage>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" role="link" (click)="navigateToBuildingCheckAnswersPage()" (keyup.enter)="navigateToBuildingCheckAnswersPage()"
                        tabindex="0">Change<span class="govuk-visually-hidden">Change</span></a>
                </dd>
            </ng-template>

            <ng-template #Structures>
                <dt class="govuk-summary-list__key">
                    {{change!.Title}} 
                </dt>
                <dd class="govuk-summary-list__value">
                    <div class="govuk-!-margin-bottom-5">
                        <div *ngFor="let name of change!.OldValue">{{name}}</div>
                    </div>
                </dd>
                <dd class="govuk-summary-list__value">
                    <div class="govuk-!-margin-bottom-5">
                        <div *ngFor="let name of change!.NewValue">{{name}}</div>
                    </div>
                </dd>
                <ng-container *ngTemplateOutlet="navigateToCheckAnswersPage" />
            </ng-template>

        </div>
        
    </dl>
</ng-container>